{
    "openapi": "3.0.3",
    "info": {
        "title": "AirOps Batches API",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.olostep.com"
        }
    ],
    "paths": {
        "/v1/airops-batches": {
            "post": {
                "summary": "Start a new AirOps batch",
                "description": "Initiates a new AirOps batch process with automated LLM extraction fallback.",
                "security": [
                    {
                        "Authorization": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "items": {
                                        "type": "array",
                                        "minItems": 1,
                                        "maxItems": 10000,
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "url": { "type": "string", "format": "uri", "description": "The URL of the page to scrape." },
                                                "custom_id": { "type": "string", "minLength": 1, "maxLength": 255, "description": "A unique identifier for this item within the batch." }
                                            },
                                            "required": ["url", "custom_id"]
                                        },
                                        "description": "Array of items to be processed in the batch."
                                    },
                                    "schema": {
                                        "type": "object",
                                        "description": "JSON Schema defining the fields to extract via LLM.",
                                        "example": {
                                            "type": "object",
                                            "properties": {
                                                "title": { "type": "string" },
                                                "price": { "type": "number" }
                                            },
                                            "required": ["title"]
                                        },
                                        "additionalProperties": true
                                    },
                                    "model": {
                                        "type": "string",
                                        "enum": ["gpt-4o", "gpt-4o-mini", "gpt-4-turbo", "gpt-4", "gpt-3.5-turbo"],
                                        "default": "gpt-4o-mini",
                                        "description": "The OpenAI model to use for extraction."
                                    },
                                    "country": {
                                        "type": "string",
                                        "default": "RANDOM",
                                        "description": "Country for the batch execution. Provide in ISO 3166-1 alpha-2 codes like US(USA), IN(India), etc"
                                    },
                                    "webhook": {
                                        "type": "string",
                                        "format": "uri",
                                        "nullable": true,
                                        "description": "The URL where all lifecycle webhook notifications for this request will be sent."
                                    },
                                    "metadata": {
                                        "$ref": "#/components/schemas/Metadata"
                                    },
                                    "fast_batch": {
                                        "type": "boolean",
                                        "default": false
                                    },
                                    "links_on_page": {
                                        "type": "object",
                                        "properties": {
                                            "include_links": { "type": "array", "items": { "type": "string" } },
                                            "exclude_links": { "type": "array", "items": { "type": "string" } }
                                        }
                                    },
                                    "long_running": {
                                        "type": "boolean",
                                        "default": false
                                    },
                                    "use_native_infra": {
                                        "type": "boolean"
                                    },
                                    "source": {
                                        "type": "string",
                                        "default": "api-airops"
                                    }
                                },
                                "required": [
                                    "items",
                                    "schema"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Batch started successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AirOpsBatch"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request due to incorrect or missing parameters.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error_code": { "type": "string" },
                                        "error_message": { "type": "string" },
                                        "details": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "path": { "type": "string" },
                                                    "message": { "type": "string" },
                                                    "code": { "type": "string" }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication credentials are missing or invalid.",
                        "content": {
                            "application/problem+json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    }
                }
            }
        },
        "/v1/airops-batches/{batch_id}": {
            "get": {
                "summary": "Get AirOps batch status",
                "description": "Retrieve the current status and unified status object for an AirOps batch.",
                "security": [
                    {
                        "Authorization": []
                    }
                ],
                "parameters": [
                    {
                        "name": "batch_id",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" },
                        "description": "The ID of the batch to retrieve information for."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response with batch status.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AirOpsBatch"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/airops-batches/{batch_id}/items": {
            "get": {
                "summary": "Get AirOps batch items",
                "description": "Retrieve the detailed results for each item in an AirOps batch.",
                "security": [
                    {
                        "Authorization": []
                    }
                ],
                "parameters": [
                    {
                        "name": "batch_id",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" },
                        "description": "The ID of the batch to retrieve items for."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response with batch items.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListBatchItemsResponse"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "Authorization": {
                "type": "http",
                "scheme": "bearer"
            }
        },
        "schemas": {
            "BatchItem": {
                "type": "object",
                "properties": {
                    "url": { "type": "string", "format": "uri" },
                    "custom_id": { "type": "string", "minLength": 1, "maxLength": 255 }
                },
                "required": ["url", "custom_id"]
            },
            "AirOpsBatch": {
                "type": "object",
                "properties": {
                    "id": { "type": "string" },
                    "object": { "type": "string", "example": "batch" },
                    "created": { "type": "integer", "description": "Unix timestamp" },
                    "total_urls": { "type": "integer" },
                    "country": { "type": "string" },
                    "status": { "$ref": "#/components/schemas/UnifiedStatus" }
                }
            },
            "UnifiedStatus": {
                "type": "object",
                "properties": {
                    "overall": { "type": "string", "enum": ["in_progress", "completed", "failed"] },
                    "scraping": { "$ref": "#/components/schemas/ScrapingStatus" },
                    "extraction": { "$ref": "#/components/schemas/ExtractionStatus" }
                }
            },
            "ScrapingStatus": {
                "type": "object",
                "properties": {
                    "status": { "$ref": "#/components/schemas/StageStatus" },
                    "started_at": { "type": "integer", "nullable": true },
                    "completed_at": { "type": "integer", "nullable": true },
                    "error": { "$ref": "#/components/schemas/StageError" },
                    "result": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "completed_urls": { "type": "integer" },
                            "failed_urls": { "type": "integer" },
                            "parser": { "type": "string" }
                        }
                    }
                }
            },
            "ExtractionStatus": {
                "type": "object",
                "properties": {
                    "status": { "$ref": "#/components/schemas/StageStatus" },
                    "started_at": { "type": "integer", "nullable": true },
                    "completed_at": { "type": "integer", "nullable": true },
                    "error": { "$ref": "#/components/schemas/StageError" },
                    "result": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "items_processed": { "type": "integer" },
                            "items_with_missing_fields": { "type": "integer" },
                            "items_extracted": { "type": "integer" },
                            "fields": { "type": "array", "items": { "type": "string" } },
                            "model": { "type": "string" }
                        }
                    }
                }
            },
            "StageStatus": {
                "type": "string",
                "enum": ["pending", "in_progress", "completed", "failed", "cancelled"]
            },
            "StageError": {
                "type": "object",
                "nullable": true,
                "properties": {
                    "code": { "type": "string" },
                    "message": { "type": "string" }
                }
            },
            "AirOpsBatchItem": {
                "type": "object",
                "properties": {
                    "custom_id": { "type": "string" },
                    "retrieve_id": { "type": "string" },
                    "url": { "type": "string" },
                    "scraping": {
                        "type": "object",
                        "properties": {
                            "status": { "$ref": "#/components/schemas/StageStatus" },
                            "parser_data": { "type": "object", "nullable": true }
                        }
                    },
                    "extraction": {
                        "type": "object",
                        "properties": {
                            "status": { "$ref": "#/components/schemas/StageStatus" },
                            "extracted_data": { "type": "object", "nullable": true }
                        }
                    }
                }
            },
            "ListBatchItemsResponse": {
                "type": "object",
                "properties": {
                    "id": { "type": "string" },
                    "object": { "type": "string", "example": "batch" },
                    "status": { "$ref": "#/components/schemas/UnifiedStatus" },
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AirOpsBatchItem"
                        }
                    },
                    "items_count": { "type": "integer" }
                }
            },
            "Error": {
                "type": "object",
                "description": "RFC 7807 Problem Details error response",
                "properties": {
                    "id": { "type": "string", "description": "Unique error identifier" },
                    "object": { "type": "string", "enum": ["error"], "description": "Always 'error'" },
                    "code": { "type": "string", "description": "Machine-readable error code" },
                    "type": { "type": "string", "format": "uri", "description": "URI reference identifying the problem type" },
                    "status": { "type": "integer", "description": "HTTP status code" },
                    "title": { "type": "string", "description": "Short, human-readable summary" },
                    "detail": { "type": "string", "description": "Human-readable explanation" },
                    "created": { "type": "integer", "description": "Unix timestamp" },
                    "metadata": { "$ref": "#/components/schemas/Metadata" },
                    "errors": {
                        "type": "array",
                        "description": "Optional array of additional error details",
                        "items": {}
                    }
                },
                "required": ["id", "object", "code", "type", "status", "title", "detail", "created"]
            },
            "Metadata": {
                "type": "object",
                "description": "Set of key-value pairs for storing additional information about an object. Follows Stripe's approach with validation rules: max 50 keys, key max 40 characters (no square brackets), value max 500 characters, all values stored as strings.",
                "additionalProperties": {
                    "type": "string",
                    "maxLength": 500,
                    "description": "Metadata value (max 500 characters). Numbers and booleans are automatically converted to strings."
                },
                "maxProperties": 50,
                "example": {
                    "order_id": "12345",
                    "customer_name": "John Doe",
                    "priority": "high",
                    "processed": "true"
                },
                "x-validation-rules": {
                    "max_keys": 50,
                    "key_max_length": 40,
                    "key_forbidden_chars": ["[", "]"],
                    "value_max_length": 500,
                    "value_types": ["string", "number (coerced)", "boolean (coerced)"]
                }
            }
        }
    }
}
