{
  "openapi": "3.0.3",
  "info": {
    "title": "Builder API",
    "version": "1.0.0"
  },
  "servers": [
    { "url": "https://agent.olostep.com" },
    { "url": "https://dataset.olostep.com" }
  ],
  "components": {
    "securitySchemes": {
      "Authorization": { "type": "http", "scheme": "bearer" }
    },
    "schemas": {
      "Metadata": {
        "type": "object",
        "description": "Set of key-value pairs for storing additional information about an object. Follows Stripe's approach with validation rules: max 50 keys, key max 40 characters (no square brackets), value max 500 characters, all values stored as strings.",
        "additionalProperties": {
          "type": "string",
          "maxLength": 500,
          "description": "Metadata value (max 500 characters). Numbers and booleans are automatically converted to strings."
        },
        "maxProperties": 50,
        "example": {
          "order_id": "12345",
          "customer_name": "John Doe",
          "priority": "high",
          "processed": "true"
        },
        "x-validation-rules": {
          "max_keys": 50,
          "key_max_length": 40,
          "key_forbidden_chars": ["[", "]"],
          "value_max_length": 500,
          "value_types": ["string", "number (coerced)", "boolean (coerced)"]
        }
      },
      "Error": {
        "type": "object",
        "description": "RFC 7807 Problem Details error response",
        "properties": {
          "id": { "type": "string" },
          "object": { "type": "string", "enum": ["error"] },
          "code": { "type": "string" },
          "type": { "type": "string", "format": "uri" },
          "status": { "type": "integer" },
          "title": { "type": "string" },
          "detail": { "type": "string" },
          "created": { "type": "integer" },
          "metadata": { "$ref": "#/components/schemas/Metadata" },
          "errors": {
            "type": "array",
            "description": "Optional array of additional error details",
            "items": {}
          }
        },
        "required": ["id", "object", "code", "type", "status", "title", "detail", "created"]
      }
    }
  },
  "paths": {
    "/olostep-p2p-incomingAPI": {
      "get": {
        "summary": "Start Agent (Legacy)",
        "description": "Initiate web page scraping with various configurations.",
        "servers": [{ "url": "https://agent.olostep.com" }],
        "security": [{ "Authorization": [] }],
        "parameters": [
          { "name": "url", "in": "query", "required": true, "schema": { "type": "string", "format": "uri" }, "description": "The URL to scrape." },
          { "name": "timeout", "in": "query", "required": false, "schema": { "type": "integer", "default": 40 }, "description": "Timeout in seconds (max 620)." },
          { "name": "waitBeforeScraping", "in": "query", "required": false, "schema": { "type": "integer", "default": 3 }, "description": "Wait time before scraping." },
          { "name": "saveHtml", "in": "query", "required": false, "schema": { "type": "boolean", "default": true }, "description": "Save as HTML." },
          { "name": "saveMarkdown", "in": "query", "required": false, "schema": { "type": "boolean", "default": true }, "description": "Save as Markdown." },
          { "name": "removeCSSselectors", "in": "query", "required": false, "schema": { "type": "string", "default": "default" }, "description": "CSS selectors to remove." },
          { "name": "htmlTransformer", "in": "query", "required": false, "schema": { "type": "string", "default": "none", "enum": ["none", "postlightParser"] }, "description": "HTML transformer." },
          { "name": "removeImages", "in": "query", "required": false, "schema": { "type": "boolean", "default": true }, "description": "Remove images." },
          { "name": "expandMarkdown", "in": "query", "required": false, "schema": { "type": "boolean", "default": false }, "description": "Return markdown content inline." },
          { "name": "expandHtml", "in": "query", "required": false, "schema": { "type": "boolean", "default": false }, "description": "Return HTML content inline." }
        ],
        "responses": {
          "200": {
            "description": "Successful response with scraped data.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "metadata": { "$ref": "#/components/schemas/Metadata" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing or invalid parameters. See [Bad Request](/api-reference/errors/bad_request) for details.",
            "content": {
              "application/problem+json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "validation_error",
                  "type": "https://docs.olostep.com/api-reference/errors/bad_request",
                  "status": 400,
                  "title": "Bad Request",
                  "detail": "url parameter is required",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid. See [Unauthorized](/api-reference/errors/unauthorized) for details.",
            "content": {
              "application/problem+json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "invalid_api_key",
                  "type": "https://docs.olostep.com/api-reference/errors/unauthorized",
                  "status": 401,
                  "title": "Unauthorized",
                  "detail": "Your API key is invalid",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. See [Internal Error](/api-reference/errors/internal_error) for details.",
            "content": {
              "application/problem+json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "internal_server_error",
                  "type": "https://docs.olostep.com/api-reference/errors/internal_error",
                  "status": 500,
                  "title": "Internal Server Error",
                  "detail": "An unexpected error occurred",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          }
        }
      }
    },
    "/olostep-p2p-dataset-API": {
      "get": {
        "servers": [{ "url": "https://dataset.olostep.com" }],
        "summary": "Retrieve Dataset (Legacy)",
        "description": "Retrieve dataset information by ID.",
        "security": [{ "Authorization": [] }],
        "parameters": [
          { "name": "datasetId", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Dataset ID." },
          { "name": "retrieveMarkdown", "in": "query", "required": false, "schema": { "type": "boolean", "default": true }, "description": "Retrieve as Markdown." },
          { "name": "retrieveHtml", "in": "query", "required": false, "schema": { "type": "boolean", "default": false }, "description": "Retrieve as HTML." },
          { "name": "fastLane", "in": "query", "required": false, "schema": { "type": "boolean", "default": false }, "description": "Experimental speed optimization." }
        ],
        "responses": {
          "200": {
            "description": "Successful response with dataset information.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "metadata": { "$ref": "#/components/schemas/Metadata" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing or invalid parameters. See [Bad Request](/api-reference/errors/bad_request) for details.",
            "content": {
              "application/problem+json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "validation_error",
                  "type": "https://docs.olostep.com/api-reference/errors/bad_request",
                  "status": 400,
                  "title": "Bad Request",
                  "detail": "datasetId is required",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid. See [Unauthorized](/api-reference/errors/unauthorized) for details.",
            "content": {
              "application/problem+json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "invalid_api_key",
                  "type": "https://docs.olostep.com/api-reference/errors/unauthorized",
                  "status": 401,
                  "title": "Unauthorized",
                  "detail": "Your API key is invalid",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "404": {
            "description": "Dataset not found. See [Not Found](/api-reference/errors/not_found) for details.",
            "content": {
              "application/problem+json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "dataset_not_found",
                  "type": "https://docs.olostep.com/api-reference/errors/not_found",
                  "status": 404,
                  "title": "Not Found",
                  "detail": "Dataset not found",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. See [Internal Error](/api-reference/errors/internal_error) for details.",
            "content": {
              "application/problem+json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "internal_server_error",
                  "type": "https://docs.olostep.com/api-reference/errors/internal_error",
                  "status": 500,
                  "title": "Internal Server Error",
                  "detail": "An unexpected error occurred",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          }
        }
      }
    }
  }
}
