{
  "openapi": "3.0.3",
  "info": {
    "title": "Crawl API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.olostep.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Metadata": {
        "type": "object",
        "description": "Set of key-value pairs for storing additional information about an object. Follows Stripe's approach with validation rules: max 50 keys, key max 40 characters (no square brackets), value max 500 characters, all values stored as strings.",
        "additionalProperties": {
          "type": "string",
          "maxLength": 500,
          "description": "Metadata value (max 500 characters). Numbers and booleans are automatically converted to strings."
        },
        "maxProperties": 50,
        "example": {
          "order_id": "12345",
          "customer_name": "John Doe",
          "priority": "high",
          "processed": "true"
        },
        "x-validation-rules": {
          "max_keys": 50,
          "key_max_length": 40,
          "key_forbidden_chars": ["[", "]"],
          "value_max_length": 500,
          "value_types": ["string", "number (coerced)", "boolean (coerced)"]
        }
      },
      "Error": {
        "type": "object",
        "description": "RFC 7807 Problem Details error response",
        "properties": {
          "id": { "type": "string" },
          "object": { "type": "string", "enum": ["error"] },
          "code": { "type": "string" },
          "type": { "type": "string", "format": "uri" },
          "status": { "type": "integer" },
          "title": { "type": "string" },
          "detail": { "type": "string" },
          "created": { "type": "integer" },
          "metadata": { "$ref": "#/components/schemas/Metadata" },
          "errors": {
            "type": "array",
            "description": "Optional array of additional error details",
            "items": {}
          }
        },
        "required": ["id", "object", "code", "type", "status", "title", "detail", "created"]
      }
    }
  },
  "paths": {
    "/v1/crawls": {
      "post": {
        "summary": "Start a new crawl",
        "description": "Initiates a new crawl process with the specified parameters.",
        "security": [{ "Authorization": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "start_url": { "type": "string", "description": "The starting point of the crawl." },
                  "include_urls": { "type": "array", "items": { "type": "string" }, "description": "URL path patterns to include." },
                  "exclude_urls": { "type": "array", "items": { "type": "string" }, "description": "URL path patterns to exclude." },
                  "max_pages": { "type": "number", "description": "Maximum number of pages to crawl." },
                  "max_depth": { "type": "number", "description": "Maximum depth of the crawl." },
                  "include_external": { "type": "boolean", "description": "Crawl first-degree external links." },
                  "include_subdomain": { "type": "boolean", "description": "Include subdomains." },
                  "search_query": { "type": "string", "description": "Search query to find specific links." },
                  "top_n": { "type": "number", "description": "Only crawl top N relevant links." },
                  "webhook_url": { "type": "string", "description": "Webhook URL called on completion." },
                  "timeout": { "type": "number", "description": "End crawl after n seconds." },
                  "follow_robots_txt": { "type": "boolean", "default": true, "description": "Respect robots.txt rules." },
                  "metadata": { "$ref": "#/components/schemas/Metadata" }
                },
                "required": ["start_url", "max_pages"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Crawl started successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string", "description": "Crawl ID" },
                    "object": { "type": "string" },
                    "status": { "type": "string" },
                    "created": { "type": "number" },
                    "start_url": { "type": "string" },
                    "max_pages": { "type": "number" },
                    "max_depth": { "type": "number" },
                    "pages_count": { "type": "number" },
                    "metadata": { "$ref": "#/components/schemas/Metadata" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to incorrect or missing parameters. See [Bad Request](/api-reference/errors/bad_request) for details.",
            "content": {
              "application/problem+json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "validation_error",
                  "type": "https://docs.olostep.com/api-reference/errors/bad_request",
                  "status": 400,
                  "title": "Bad Request",
                  "detail": "start_url is required",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid. See [Unauthorized](/api-reference/errors/unauthorized) for details.",
            "content": {
              "application/problem+json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "invalid_api_key",
                  "type": "https://docs.olostep.com/api-reference/errors/unauthorized",
                  "status": 401,
                  "title": "Unauthorized",
                  "detail": "Your API key is invalid",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "402": {
            "description": "Payment required - credits exhausted. See [Payment Required](/api-reference/errors/payment_required) for details.",
            "content": {
              "application/problem+json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "credits_exhausted",
                  "type": "https://docs.olostep.com/api-reference/errors/payment_required",
                  "status": 402,
                  "title": "Payment Required",
                  "detail": "You have consumed all available credits.",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - access denied. See [Forbidden](/api-reference/errors/forbidden) for details.",
            "content": {
              "application/problem+json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "approval_required",
                  "type": "https://docs.olostep.com/api-reference/errors/forbidden",
                  "status": 403,
                  "title": "Forbidden",
                  "detail": "You don't have access to this feature.",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. See [Internal Error](/api-reference/errors/internal_error) for details.",
            "content": {
              "application/problem+json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "internal_server_error",
                  "type": "https://docs.olostep.com/api-reference/errors/internal_error",
                  "status": 500,
                  "title": "Internal Server Error",
                  "detail": "An unexpected error occurred",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/crawls/{crawl_id}": {
      "get": {
        "summary": "Retrieve crawl information",
        "description": "Fetches information about a specific crawl.",
        "security": [{ "Authorization": [] }],
        "parameters": [
          {
            "name": "crawl_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The ID of the crawl."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with crawl information.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "object": { "type": "string" },
                    "status": { "type": "string" },
                    "created": { "type": "number" },
                    "start_url": { "type": "string" },
                    "max_pages": { "type": "number" },
                    "pages_count": { "type": "number" },
                    "metadata": { "$ref": "#/components/schemas/Metadata" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid. See [Unauthorized](/api-reference/errors/unauthorized) for details.",
            "content": {
              "application/problem+json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "invalid_api_key",
                  "type": "https://docs.olostep.com/api-reference/errors/unauthorized",
                  "status": 401,
                  "title": "Unauthorized",
                  "detail": "Your API key is invalid",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "404": {
            "description": "Crawl not found. See [Not Found](/api-reference/errors/not_found) for details.",
            "content": {
              "application/problem+json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "crawl_not_found",
                  "type": "https://docs.olostep.com/api-reference/errors/not_found",
                  "status": 404,
                  "title": "Not Found",
                  "detail": "Crawl not found",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. See [Internal Error](/api-reference/errors/internal_error) for details.",
            "content": {
              "application/problem+json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "internal_server_error",
                  "type": "https://docs.olostep.com/api-reference/errors/internal_error",
                  "status": 500,
                  "title": "Internal Server Error",
                  "detail": "An unexpected error occurred",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/crawls/{crawl_id}/pages": {
      "get": {
        "summary": "Retrieve crawled pages",
        "description": "Fetches the list of crawled pages for a specific crawl.",
        "security": [{ "Authorization": [] }],
        "parameters": [
          {
            "name": "crawl_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The ID of the crawl."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": { "type": "integer" },
            "description": "Pagination cursor."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer" },
            "description": "Number of results to return."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with crawled pages.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "crawl_id": { "type": "string" },
                    "object": { "type": "string" },
                    "status": { "type": "string" },
                    "pages_count": { "type": "number" },
                    "pages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "retrieve_id": { "type": "string" },
                          "url": { "type": "string" }
                        }
                      }
                    },
                    "cursor": { "type": "integer" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to incorrect or missing parameters. See [Bad Request](/api-reference/errors/bad_request) for details.",
            "content": {
              "application/problem+json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "validation_error",
                  "type": "https://docs.olostep.com/api-reference/errors/bad_request",
                  "status": 400,
                  "title": "Bad Request",
                  "detail": "Invalid parameter format",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid. See [Unauthorized](/api-reference/errors/unauthorized) for details.",
            "content": {
              "application/problem+json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "invalid_api_key",
                  "type": "https://docs.olostep.com/api-reference/errors/unauthorized",
                  "status": 401,
                  "title": "Unauthorized",
                  "detail": "Your API key is invalid",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "404": {
            "description": "Crawl not found or no pages found. See [Not Found](/api-reference/errors/not_found) for details.",
            "content": {
              "application/problem+json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "crawl_not_found",
                  "type": "https://docs.olostep.com/api-reference/errors/not_found",
                  "status": 404,
                  "title": "Not Found",
                  "detail": "Crawl not found or no pages found",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. See [Internal Error](/api-reference/errors/internal_error) for details.",
            "content": {
              "application/problem+json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "internal_server_error",
                  "type": "https://docs.olostep.com/api-reference/errors/internal_error",
                  "status": 500,
                  "title": "Internal Server Error",
                  "detail": "An unexpected error occurred",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          }
        }
      }
    }
  }
}
