{
  "openapi": "3.0.3",
  "info": {
    "title": "Crawl API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://agent.olostep.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "paths": {
    "/crawl": {
      "post": {
        "summary": "Starts a new crawl process",
        "description": "Initiates a new crawl process with the specified parameters.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "start_url": {
                    "type": "string",
                    "description": "The starting point of the crawl."
                  },
                  "include_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "URL path names in glob pattern to include. For example: \n- `'/**'` for the entire website\n- `'/blog/**'` for only blogs."
                  },
                  "exclude_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "URL path names in glob pattern to exclude. For example: `/careers/**`. Excluded URLs will supersede included URLs."
                  },
                  "max_pages": {
                    "type": "number",
                    "description": "Maximum number of pages to crawl. Recommended for most use cases like crawling an entire website."
                  },
                  "max_depth": {
                    "type": "number",
                    "description": "Maximum depth of the crawl. Useful to extract only up to n-degree of links."
                  },
                  "include_external": {
                    "type": "boolean",
                    "description": "Crawl first-degree external links."
                  }
                },
                "required": [
                  "start_url",
                  "include_urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Crawl started successfully."
          },
          "400": {
            "description": "Bad request due to incorrect or missing parameters."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/crawl/{crawlId}": {
      "get": {
        "summary": "Fetches information about a specific crawl",
        "description": "Retrieves details about a specific crawl using its crawlId.",
        "parameters": [
          {
            "name": "crawlId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the crawl to retrieve information for."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with crawl information.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "crawl_id": {
                      "type": "string"
                    },
                    "org_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "depth": {
                      "type": "number"
                    },
                    "urls_count": {
                      "type": "number"
                    },
                    "failed_urls_count": {
                      "type": "number"
                    },
                    "include_external": {
                      "type": "boolean"
                    },
                    "start_epoch": {
                      "type": "number"
                    },
                    "start_date": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to incorrect or missing parameters."
          },
          "404": {
            "description": "Crawl not found for the provided ID."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/crawl/{crawlId}/list": {
      "get": {
        "summary": "Fetches the list of completed, failed, or external URLs for a specific crawl.",
        "description": "Retrieves the list of URLs that have been crawled for a specific crawl ID, including a list of `external_urls` linked in the site.",
        "parameters": [
          {
            "name": "crawlId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the crawl to retrieve the list of URLs for."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with the list of URLs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "crawl_id": {
                      "type": "string"
                    },
                    "urls_count": {
                      "type": "number"
                    },
                    "urls": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "dataset_id": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "is_external": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "failed_urls_count": {
                      "type": "number"
                    },
                    "failed_urls": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "dataset_id": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "is_external": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "external_urls": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to incorrect or missing parameters."
          },
          "404": {
            "description": "Crawl not found for the provided ID."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/crawl/{crawlId}/content": {
      "get": {
        "summary": "Fetches the content for crawled URLs",
        "description": "Retrieves the content for the URLs that have been crawled for a specific crawl ID.",
        "parameters": [
          {
            "name": "crawlId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the crawl to retrieve the content for."
          },
          {
            "name": "formats",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "JSON array of formats to fetch (e.g., [\"html\", \"markdown\"])."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with the content of the URLs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "crawl_id": {
                      "type": "string"
                    },
                    "requested_formats": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "urls_count": {
                      "type": "number"
                    },
                    "urls": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "datasetId": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "isExternal": {
                            "type": "boolean"
                          },
                          "html_content": {
                            "type": "string"
                          },
                          "markdown_content": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "failed_urls_count": {
                      "type": "number"
                    },
                    "failed_urls": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "dataset_id": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to incorrect or missing parameters."
          },
          "404": {
            "description": "Crawl not found for the provided ID."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    }
  }
}