{
  "openapi": "3.0.3",
  "info": {
    "title": "Crawl API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.olostep.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "paths": {
    "/crawls": {
      "post": {
        "summary": "Start a new crawl",
        "description": "Initiates a new crawl process with the specified parameters.",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "start_url": {
                    "type": "string",
                    "description": "The starting point of the crawl."
                  },
                  "include_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "URL path names in glob pattern to include. For example: \n- `'/**'` for the entire website\n- `'/blog/**'` for only blogs."
                  },
                  "exclude_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "URL path names in glob pattern to exclude. For example: `/careers/**`. Excluded URLs will supersede included URLs."
                  },
                  "max_pages": {
                    "type": "number",
                    "description": "Maximum number of pages to crawl. Recommended for most use cases like crawling an entire website."
                  },
                  "max_depth": {
                    "type": "number",
                    "description": "Maximum depth of the crawl. Useful to extract only up to n-degree of links."
                  },
                  "include_external": {
                    "type": "boolean",
                    "description": "Crawl first-degree external links."
                  },
                  "search_query": {
                    "type": "string",
                    "description": "An optional search query to find specific links and also sort the results by relevance."
                  },
                  "top_n": {
                    "type": "number",
                    "description": "An optional number to only crawl the top N most relevant links on every page as per search query."
                  }
                },
                "required": [
                  "start_url",
                  "include_urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Crawl started successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Crawl ID"
                    },
                    "object": {
                      "type": "string",
                       "description": "The kind of object. \"crawl\" for this endpoint."
                    },
                    "status": {
                      "type": "string",
                       "description": "`in_progress` or `completed`"
                      
                    },
                    "created": {
                      "type": "number",
                       "description": "Created time in epoch"
                    },
                    "start_date": {
                      "type": "string",
                      "description": "Created time in date"
                    },
                    "start_url": {
                      "type": "string"
                    },
                    "max_pages": {
                      "type": "number"
                    },
                    "max_depth": {
                      "type": "number"
                    },
                    "exclude_urls": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "include_urls": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "include_external": {
                      "type": "boolean"
                    },
                    "search_query": {
                      "type": "string"
                    },
                    "top_n": {
                      "type": "number"
                    },
                    "current_depth": {
                      "type": "number",
                      "description": "The current depth of the crawl process."
                    },
                    "pages_count": {
                      "type": "number",
                      "description": "Count of pages crawled"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to incorrect or missing parameters."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/crawls/{crawlId}": {
      "get": {
        "summary": "Retrieve crawl information",
        "description": "Fetches information about a specific crawl using its `crawlId`.",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "crawlId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the crawl to retrieve information for."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with crawl information.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Crawl ID"
                    },
                    "object": {
                      "type": "string",
                        "description": "The kind of object. \"crawl\" for this endpoint."
                    },
                    "status": {
                      "type": "string",
                       "description": "`in_progress` or `completed`"
                      
                    },
                    "created": {
                      "type": "number",
                       "description": "Created time in epoch"
                    },
                    "start_date": {
                      "type": "string",
                      "description": "Created time in date"
                    },
                    "start_url": {
                      "type": "string"
                    },
                    "max_pages": {
                      "type": "number"
                    },
                    "max_depth": {
                      "type": "number"
                    },
                    "exclude_urls": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "include_urls": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "include_external": {
                      "type": "boolean"
                    },
                    "search_query": {
                      "type": "string"
                    },
                    "top_n": {
                      "type": "number"
                    },
                    "current_depth": {
                      "type": "number",
                      "description": "The current depth of the crawl process."
                    },
                    "pages_count": {
                      "type": "number",
                      "description": "Count of pages crawled"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to incorrect or missing parameters."
          },
          "404": {
            "description": "Crawl not found for the provided ID."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/crawls/{crawlId}/list": {
      "get": {
        "summary": "Retrieve list of URLs optionally with content for a specific crawl",
        "description": "Fetches the list of URLs and content that have been processed for a specific crawl ID.",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "crawlId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the crawl to retrieve the list of URLs for."
          },
          {
            "name": "formats",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "html",
                  "markdown"
                ]
              }
            },
            "description": "Array of formats to fetch (e.g., [\"html\", \"markdown\"])."
          },
          {
            "name": "search_query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "An optional search query to sort the results by relevance. Uses the original search_query by default if provided."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Optional integer representing the index to start fetching content from. Useful to paginate until all URLs are fetched. Start with 0, then provide `response['cursor']` value of the last request."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Optional integer to limit the number of results returned. Recommended 10-50 results at a time. Paginated using *cursor*. Maximum 10MB of content can be fetched in a single request."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with the list of URLs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Crawl ID"
                    },
                    "object": {
                      "type": "string",
                      "description": "The kind of object. \"crawl\" for this endpoint."
                    },
                    "status": {
                      "type": "string",
                      "description": "`in_progress` or `completed`"
                    },
                    "search_query": {
                      "type": "string"
                    },
                    "pages_count": {
                      "type": "number"
                    },
                    "pages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "retrieve_id": {
                            "type": "string",
                            "description": "If needed to fetch content later from the `/retrieve` API"
                          },
                          "url": {
                            "type": "string"
                          },
                          "is_external": {
                            "type": "boolean"
                          },
                          "html_content": {
                            "type": "string"
                          },
                          "markdown_content": {
                            "type": "string"
                          },
                          "json_content": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "external_urls": {
                          "type": "array",
                          "description": "External URLs that were found during crawl",
                          "items": {
                            "type": "string"
                          }
                        },
                        "failed_urls": {
                          "type": "array",
                          "description": "URLs that were found but couldn't be scraped",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "cursor": {
                      "type": "integer",
                      "description": "To be passed in the query in next request to get the next items."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to incorrect or missing parameters."
          },
          "404": {
            "description": "Crawl not found for the provided ID."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    }
  }
}