{
  "openapi": "3.0.3",
  "info": {
    "title": "Maps API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.olostep.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Metadata": {
        "type": "object",
        "description": "Set of key-value pairs for storing additional information about an object. Follows Stripe's approach with validation rules: max 50 keys, key max 40 characters (no square brackets), value max 500 characters, all values stored as strings.",
        "additionalProperties": {
          "type": "string",
          "maxLength": 500,
          "description": "Metadata value (max 500 characters). Numbers and booleans are automatically converted to strings."
        },
        "maxProperties": 50,
        "example": {
          "order_id": "12345",
          "customer_name": "John Doe",
          "priority": "high",
          "processed": "true"
        },
        "x-validation-rules": {
          "max_keys": 50,
          "key_max_length": 40,
          "key_forbidden_chars": ["[", "]"],
          "value_max_length": 500,
          "value_types": ["string", "number (coerced)", "boolean (coerced)"]
        }
      },
      "Error": {
        "type": "object",
        "description": "RFC 7807 Problem Details error response",
        "properties": {
          "id": { "type": "string" },
          "object": { "type": "string", "enum": ["error"] },
          "code": { "type": "string" },
          "type": { "type": "string", "format": "uri" },
          "status": { "type": "integer" },
          "title": { "type": "string" },
          "detail": { "type": "string" },
          "created": { "type": "integer" },
          "metadata": { "$ref": "#/components/schemas/Metadata" },
          "errors": {
            "type": "array",
            "description": "Optional array of additional error details",
            "items": {}
          }
        },
        "required": ["id", "object", "code", "type", "status", "title", "detail", "created"]
      }
    }
  },
  "paths": {
    "/v1/maps": {
      "post": {
        "summary": "Get all the urls on a website",
        "description": "Get all URLs from a website's sitemap. Can take up to 120 seconds for complex websites. Results are paginated using cursor-based pagination.",
        "security": [{ "Authorization": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": { "type": "string", "format": "uri", "description": "The website URL" },
                  "search_query": { "type": "string", "description": "Sort links by search relevance" },
                  "top_n": { "type": "number", "description": "Limit to top n links" },
                  "include_subdomain": { "type": "boolean", "description": "Include subdomains (default true)" },
                  "include_urls": { "type": "array", "items": { "type": "string" }, "description": "URL patterns to include (glob)" },
                  "exclude_urls": { "type": "array", "items": { "type": "string" }, "description": "URL patterns to exclude (glob)" },
                  "cursor": { "type": "string", "description": "Pagination cursor from previous response" },
                  "metadata": { "$ref": "#/components/schemas/Metadata" }
                },
                "required": ["url"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with URLs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "urls_count": { "type": "integer" },
                    "urls": { "type": "array", "items": { "type": "string" } },
                    "cursor": { "type": "string", "nullable": true },
                    "metadata": { "$ref": "#/components/schemas/Metadata" }
                  }
                },
                "example": {
                  "id": "map_abc123",
                  "urls_count": 22,
                  "urls": [
                    "https://docs.olostep.com/api-reference/batches/create",
                    "https://docs.olostep.com/api-reference/batches/info"
                  ],
                  "cursor": null
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters. See [Bad Request](/api-reference/errors/bad_request) for details.",
            "content": {
              "application/problem+json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "validation_error",
                  "type": "https://docs.olostep.com/api-reference/errors/bad_request",
                  "status": 400,
                  "title": "Bad Request",
                  "detail": "url is required or invalid cursor format",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid. See [Unauthorized](/api-reference/errors/unauthorized) for details.",
            "content": {
              "application/problem+json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "invalid_api_key",
                  "type": "https://docs.olostep.com/api-reference/errors/unauthorized",
                  "status": 401,
                  "title": "Unauthorized",
                  "detail": "Your API key is invalid",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "402": {
            "description": "Payment required - credits exhausted. See [Payment Required](/api-reference/errors/payment_required) for details.",
            "content": {
              "application/problem+json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "credits_exhausted",
                  "type": "https://docs.olostep.com/api-reference/errors/payment_required",
                  "status": 402,
                  "title": "Payment Required",
                  "detail": "You have consumed all available credits.",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - access denied. See [Forbidden](/api-reference/errors/forbidden) for details.",
            "content": {
              "application/problem+json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "approval_required",
                  "type": "https://docs.olostep.com/api-reference/errors/forbidden",
                  "status": 403,
                  "title": "Forbidden",
                  "detail": "You don't have access to this feature.",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. See [Not Found](/api-reference/errors/not_found) for details.",
            "content": {
              "application/problem+json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "map_not_found",
                  "type": "https://docs.olostep.com/api-reference/errors/not_found",
                  "status": 404,
                  "title": "Not Found",
                  "detail": "Map not found or could not retrieve page URLs from the sitemap",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. See [Internal Error](/api-reference/errors/internal_error) for details.",
            "content": {
              "application/problem+json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "internal_server_error",
                  "type": "https://docs.olostep.com/api-reference/errors/internal_error",
                  "status": 500,
                  "title": "Internal Server Error",
                  "detail": "An unexpected error occurred",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          }
        }
      }
    }
  }
}
