{
  "openapi": "3.0.3",
  "info": {
    "title": "Utility API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.olostep.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Metadata": {
        "type": "object",
        "description": "Set of key-value pairs for storing additional information about an object. Follows Stripe's approach with validation rules: max 50 keys, key max 40 characters (no square brackets), value max 500 characters, all values stored as strings.",
        "additionalProperties": {
          "type": "string",
          "maxLength": 500,
          "description": "Metadata value (max 500 characters). Numbers and booleans are automatically converted to strings."
        },
        "maxProperties": 50,
        "example": {
          "order_id": "12345",
          "customer_name": "John Doe",
          "priority": "high",
          "processed": "true"
        },
        "x-validation-rules": {
          "max_keys": 50,
          "key_max_length": 40,
          "key_forbidden_chars": ["[", "]"],
          "value_max_length": 500,
          "value_types": ["string", "number (coerced)", "boolean (coerced)"]
        }
      },
      "Error": {
        "type": "object",
        "description": "RFC 7807 Problem Details error response",
        "properties": {
          "id": { "type": "string" },
          "object": { "type": "string", "enum": ["error"] },
          "code": { "type": "string" },
          "type": { "type": "string", "format": "uri" },
          "status": { "type": "integer" },
          "title": { "type": "string" },
          "detail": { "type": "string" },
          "created": { "type": "integer" },
          "metadata": { "$ref": "#/components/schemas/Metadata" },
          "errors": {
            "type": "array",
            "description": "Optional array of additional error details",
            "items": {}
          }
        },
        "required": ["id", "object", "code", "type", "status", "title", "detail", "created"]
      }
    }
  },
  "paths": {
    "/v1/retrieve": {
      "get": {
        "summary": "Retrieve page content",
        "description": "Fetches the content of a crawled/scraped/batched page using its `retrieve_id`.",
        "security": [{ "Authorization": [] }],
        "parameters": [
          {
            "name": "retrieve_id",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "The ID of the page content to retrieve."
          },
          {
            "name": "formats",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": { "type": "string", "enum": ["html", "markdown", "json"] }
            },
            "description": "Optional array to retrieve only specific formats."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with page content.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "html_content": { "type": "string" },
                    "markdown_content": { "type": "string" },
                    "json_content": { "type": "string" },
                    "html_hosted_url": { "type": "string" },
                    "markdown_hosted_url": { "type": "string" },
                    "json_hosted_url": { "type": "string" },
                    "size_exceeded": { "type": "boolean" },
                    "metadata": { "$ref": "#/components/schemas/Metadata" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing or invalid parameters. See [Bad Request](/api-reference/errors/bad_request) for details.",
            "content": {
              "application/problem+json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "validation_error",
                  "type": "https://docs.olostep.com/api-reference/errors/bad_request",
                  "status": 400,
                  "title": "Bad Request",
                  "detail": "retrieve_id is required",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid. See [Unauthorized](/api-reference/errors/unauthorized) for details.",
            "content": {
              "application/problem+json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "invalid_api_key",
                  "type": "https://docs.olostep.com/api-reference/errors/unauthorized",
                  "status": 401,
                  "title": "Unauthorized",
                  "detail": "Your API key is invalid",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "404": {
            "description": "Content not found. See [Not Found](/api-reference/errors/not_found) for details.",
            "content": {
              "application/problem+json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "content_not_found",
                  "type": "https://docs.olostep.com/api-reference/errors/not_found",
                  "status": 404,
                  "title": "Not Found",
                  "detail": "Content not found for the provided retrieve_id",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. See [Internal Error](/api-reference/errors/internal_error) for details.",
            "content": {
              "application/problem+json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "internal_server_error",
                  "type": "https://docs.olostep.com/api-reference/errors/internal_error",
                  "status": 500,
                  "title": "Internal Server Error",
                  "detail": "An unexpected error occurred",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          }
        }
      }
    }
  }
}
