{
  "openapi": "3.0.3",
  "info": {
    "title": "API de Lotes",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.olostep.com"
    }
  ],
  "paths": {
    "/v1/test-batch": {
      "post": {
        "summary": "Probar lote",
        "description": "Probar lote",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "custom_id": {
                          "type": "string",
                          "description": "Un identificador único interno para la url."
                        },
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "URL del elemento."
                        }
                      },
                      "required": [
                        "custom_id",
                        "url"
                      ]
                    },
                    "description": "Array de elementos a procesar en el lote."
                  }
                },
                "required": [
                  "items"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lote iniciado con éxito.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID del Lote"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/batches/recent": {
      "get": {
        "summary": "Listar lotes recientes",
        "description": "Obtiene la lista de lotes recientes para el usuario autenticado.",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            },
            "description": "Número máximo de lotes a devolver (por defecto 50, máximo 100)."
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filtrar por fuente (opcional)."
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta exitosa con lista de lotes recientes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "list"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "created": {
                            "type": "number"
                          },
                          "total_urls": {
                            "type": "number"
                          },
                          "completed_urls": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Las credenciales de autenticación faltan o son inválidas. Consulta [Unauthorized](/api-reference/errors/unauthorized) para más detalles.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "invalid_api_key",
                  "type": "https://docs.olostep.com/api-reference/errors/unauthorized",
                  "status": 401,
                  "title": "No autorizado",
                  "detail": "Your API key is invalid. Try double-checking it or reaching out to info@olostep.com if you're facing issues.",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor. Consulta [Internal Error](/api-reference/errors/internal_error) para más detalles.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "internal_server_error",
                  "type": "https://docs.olostep.com/api-reference/errors/internal_error",
                  "status": 500,
                  "title": "Error Interno del Servidor",
                  "detail": "An unexpected error occurred",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/batches": {
      "post": {
        "summary": "Iniciar un nuevo lote",
        "description": "Inicia un nuevo proceso de lote con los parámetros especificados.",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "custom_id": {
                          "type": "string",
                          "description": "Un identificador único interno para la url."
                        },
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "URL del elemento."
                        },
                        "metadata": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/Metadata"
                            }
                          ],
                          "description": "Metadatos a nivel de elemento. Adjunta pares clave-valor a elementos individuales para seguimiento, filtrado o correlación con tus sistemas internos."
                        }
                      },
                      "required": [
                        "custom_id",
                        "url"
                      ]
                    },
                    "description": "Array de elementos a procesar en el lote."
                  },
                  "country": {
                    "type": "string",
                    "description": "País para la ejecución del lote. Proporciona en códigos ISO 3166-1 alpha-2 como US(USA), IN(India), etc."
                  },
                  "parser": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Parser a ser usado para el lote."
                      }
                    },
                    "required": [
                      "id"
                    ],
                    "description": "Puedes usar este parámetro para especificar el parser a utilizar. Los parsers son útiles para extraer contenido estructurado de páginas web. Olostep tiene algunos parsers integrados para las páginas web más comunes, y también puedes crear tus propios parsers."
                  },
                  "links_on_page": {
                    "type": "object",
                    "properties": {
                      "absolute_links": {
                        "type": "boolean",
                        "default": true,
                        "description": "Cuando es verdadero, devuelve URLs completas (por ejemplo, 'https://example.com/page') en lugar de rutas relativas (por ejemplo, '/page')."
                      },
                      "include_links": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Filtra los enlaces extraídos usando patrones glob."
                      },
                      "exclude_links": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Filtra los enlaces extraídos usando patrones glob."
                      }
                    },
                    "description": "Obtén todos los enlaces presentes en cada página del lote."
                  },
                  "metadata": {
                    "$ref": "#/components/schemas/Metadata"
                  },
                  "webhook": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL HTTPS para recibir una solicitud POST cuando el lote se complete. Debe ser una URL públicamente accesible usando el protocolo `http://` o `https://`. No puede apuntar a localhost o direcciones IP privadas. Consulta [Webhooks](/api-reference/common/webhooks) para el formato del payload y el comportamiento de reintento."
                  }
                },
                "required": [
                  "items"
                ]
              },
              "example": {
                "items": [
                  {
                    "custom_id": "product-123",
                    "url": "https://example.com/product/123",
                    "metadata": {
                      "source": "catalog_sync",
                      "priority": "high"
                    }
                  },
                  {
                    "custom_id": "product-456",
                    "url": "https://example.com/product/456"
                  }
                ],
                "country": "US",
                "metadata": {
                  "batch_name": "Q1 Product Sync",
                  "initiated_by": "automation"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lote iniciado con éxito.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID del Lote"
                    },
                    "object": {
                      "type": "string",
                      "description": "El tipo de objeto. \"batch\" para este endpoint."
                    },
                    "status": {
                      "type": "string",
                      "description": "`in_progress` o `completed`"
                    },
                    "created": {
                      "type": "number",
                      "description": "Época creada"
                    },
                    "total_urls": {
                      "type": "number",
                      "description": "Conteo de URLs en el lote"
                    },
                    "completed_urls": {
                      "type": "number",
                      "description": "Conteo de URLs completadas"
                    },
                    "parser": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/Metadata"
                    },
                    "webhook": {
                      "type": "string",
                      "description": "URL del webhook para recibir la notificación de finalización"
                    }
                  }
                },
                "example": {
                  "id": "batch_abc123def456",
                  "object": "batch",
                  "status": "in_progress",
                  "created": 1704067200,
                  "total_urls": 2,
                  "completed_urls": 0,
                  "country": "US",
                  "metadata": {
                    "batch_name": "Q1 Product Sync",
                    "initiated_by": "automation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Solicitud incorrecta debido a parámetros incorrectos o faltantes. Consulta [Bad Request](/api-reference/errors/bad_request) para más detalles.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "validation_error",
                  "type": "https://docs.olostep.com/api-reference/errors/bad_request",
                  "status": 400,
                  "title": "Solicitud Incorrecta",
                  "detail": "The 'items' array is required and must contain at least one item.",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "401": {
            "description": "Las credenciales de autenticación faltan o son inválidas. Consulta [Unauthorized](/api-reference/errors/unauthorized) para más detalles.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "invalid_api_key",
                  "type": "https://docs.olostep.com/api-reference/errors/unauthorized",
                  "status": 401,
                  "title": "No autorizado",
                  "detail": "Your API key is invalid. Try double-checking it or reaching out to info@olostep.com if you're facing issues.",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "402": {
            "description": "Pago requerido - créditos agotados. Consulta [Payment Required](/api-reference/errors/payment_required) para más detalles.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "credits_exhausted",
                  "type": "https://docs.olostep.com/api-reference/errors/payment_required",
                  "status": 402,
                  "title": "Pago Requerido",
                  "detail": "You have consumed all available credits. Please upgrade your plan from the dashboard: https://www.olostep.com/auth/",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "403": {
            "description": "Prohibido - acceso denegado a esta función. Consulta [Forbidden](/api-reference/errors/forbidden) para más detalles.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "access_denied",
                  "type": "https://docs.olostep.com/api-reference/errors/forbidden",
                  "status": 403,
                  "title": "Prohibido",
                  "detail": "You don't have access to this feature. Please reach out to info@olostep.com to get approved",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "409": {
            "description": "Conflicto de idempotencia - una solicitud con esta clave está en progreso. Consulta [Idempotency Error](/api-reference/errors/idempotency_error) para más detalles.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "idempotency_key_in_progress",
                  "type": "https://docs.olostep.com/api-reference/errors/idempotency_error",
                  "status": 409,
                  "title": "Error de Idempotencia",
                  "detail": "A request with this idempotency key is currently being processed. Please wait and retry.",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "422": {
            "description": "Entidad no procesable - violación de regla de negocio. Consulta [Entidad No Procesable](/api-reference/errors/unprocessable_entity) para más detalles.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "idempotency_key_reuse",
                  "type": "https://docs.olostep.com/api-reference/errors/unprocessable_entity",
                  "status": 422,
                  "title": "Entidad No Procesable",
                  "detail": "A request with this idempotency key was already made with different parameters. Idempotency keys must be unique per request.",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor. Consulta [Internal Error](/api-reference/errors/internal_error) para más detalles.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "internal_server_error",
                  "type": "https://docs.olostep.com/api-reference/errors/internal_error",
                  "status": 500,
                  "title": "Error Interno del Servidor",
                  "detail": "An unexpected error occurred",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/batches/{batch_id}": {
      "get": {
        "summary": "Obtener información del lote",
        "description": "Obtiene información sobre un lote específico usando su `batch_id`.",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "El ID del lote para obtener información."
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta exitosa con información del lote.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID del Lote"
                    },
                    "object": {
                      "type": "string",
                      "description": "El tipo de objeto. \"batch\" para este endpoint."
                    },
                    "status": {
                      "type": "string",
                      "description": "`in_progress` o `completed`"
                    },
                    "created": {
                      "type": "number",
                      "description": "Época creada"
                    },
                    "total_urls": {
                      "type": "number",
                      "description": "Conteo de URLs en el lote"
                    },
                    "completed_urls": {
                      "type": "number",
                      "description": "Conteo de URLs completadas"
                    },
                    "parser": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/Metadata"
                    },
                    "webhook": {
                      "type": "string",
                      "description": "URL del webhook para recibir la notificación de finalización"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Las credenciales de autenticación faltan o son inválidas. Consulta [Unauthorized](/api-reference/errors/unauthorized) para más detalles.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "invalid_api_key",
                  "type": "https://docs.olostep.com/api-reference/errors/unauthorized",
                  "status": 401,
                  "title": "No autorizado",
                  "detail": "Your API key is invalid",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "404": {
            "description": "Lote no encontrado para el ID proporcionado. Consulta [No Encontrado](/api-reference/errors/not_found) para más detalles.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "batch_not_found",
                  "type": "https://docs.olostep.com/api-reference/errors/not_found",
                  "status": 404,
                  "title": "No Encontrado",
                  "detail": "Batch not found",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor. Consulta [Internal Error](/api-reference/errors/internal_error) para más detalles.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "internal_server_error",
                  "type": "https://docs.olostep.com/api-reference/errors/internal_error",
                  "status": 500,
                  "title": "Error Interno del Servidor",
                  "detail": "An unexpected error occurred",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Actualizar metadatos del lote",
        "description": "Actualiza los metadatos de un lote específico. Solo se puede actualizar el campo `metadata`. Sigue la semántica de fusión de Stripe: se añaden nuevas claves, se actualizan claves existentes y las claves establecidas en cadena vacía se eliminan.",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "El ID del lote a actualizar."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/Metadata"
                  }
                },
                "required": [
                  "metadata"
                ]
              },
              "example": {
                "metadata": {
                  "status": "reviewed",
                  "reviewer": "jane@example.com"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Metadatos del lote actualizados con éxito.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID del Lote"
                    },
                    "object": {
                      "type": "string",
                      "description": "El tipo de objeto. \"batch\" para este endpoint."
                    },
                    "status": {
                      "type": "string",
                      "description": "`in_progress` o `completed`"
                    },
                    "created": {
                      "type": "number",
                      "description": "Época creada"
                    },
                    "total_urls": {
                      "type": "number",
                      "description": "Conteo de URLs en el lote"
                    },
                    "completed_urls": {
                      "type": "number",
                      "description": "Conteo de URLs completadas"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/Metadata"
                    }
                  }
                },
                "example": {
                  "id": "batch_abc123def456",
                  "object": "batch",
                  "status": "completed",
                  "created": 1704067200,
                  "total_urls": 10,
                  "completed_urls": 10,
                  "metadata": {
                    "batch_name": "Q1 Product Sync",
                    "status": "reviewed",
                    "reviewer": "jane@example.com"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Solicitud incorrecta - metadatos faltantes o inválidos. Consulta [Solicitud Incorrecta](/api-reference/errors/bad_request) para más detalles.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "invalid_metadata",
                  "type": "https://docs.olostep.com/api-reference/errors/bad_request",
                  "status": 400,
                  "title": "Solicitud Incorrecta",
                  "detail": "No metadata field provided. Only metadata can be updated.",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "401": {
            "description": "Las credenciales de autenticación faltan o son inválidas. Consulta [Unauthorized](/api-reference/errors/unauthorized) para más detalles.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "invalid_api_key",
                  "type": "https://docs.olostep.com/api-reference/errors/unauthorized",
                  "status": 401,
                  "title": "No autorizado",
                  "detail": "Your API key is invalid",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "404": {
            "description": "Lote no encontrado para el ID proporcionado. Consulta [No Encontrado](/api-reference/errors/not_found) para más detalles.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "batch_not_found",
                  "type": "https://docs.olostep.com/api-reference/errors/not_found",
                  "status": 404,
                  "title": "No Encontrado",
                  "detail": "Batch not found",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor. Consulta [Internal Error](/api-reference/errors/internal_error) para más detalles.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "internal_server_error",
                  "type": "https://docs.olostep.com/api-reference/errors/internal_error",
                  "status": 500,
                  "title": "Error Interno del Servidor",
                  "detail": "An unexpected error occurred",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/batches/{batch_id}/items": {
      "get": {
        "summary": "Obtener lista de ítems completados o fallidos opcionalmente con contenido para un lote específico",
        "description": "Obtiene la lista de ítems y contenido según el estado solicitado para un ID de lote específico.",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "El ID del lote para obtener ítems."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "completed",
                "failed"
              ]
            },
            "description": "Estado de las URLs a obtener (completed o failed)."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Cursor de paginación. Omite este parámetro en la primera solicitud. Para solicitudes posteriores, usa el valor `cursor` de la respuesta anterior. Consulta [Paginación](/api-reference/common/pagination) para más detalles."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Número de resultados a devolver (recomendado 10-50)."
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta exitosa con ítems del lote.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "batch_id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "custom_id": {
                            "type": "string"
                          },
                          "retrieve_id": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "metadata": {
                            "allOf": [
                              {
                                "$ref": "#/components/schemas/Metadata"
                              }
                            ],
                            "description": "Metadatos a nivel de ítem si se proporcionan durante la creación por lotes."
                          },
                          "links_on_page": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "items_count": {
                      "type": "integer"
                    },
                    "cursor": {
                      "type": "integer",
                      "description": "Cursor de paginación. Presente cuando hay más resultados disponibles. Usa este valor en el parámetro `cursor` de la siguiente solicitud. Consulta [Paginación](/api-reference/common/pagination) para más detalles."
                    }
                  }
                },
                "example": {
                  "batch_id": "batch_abc123def456",
                  "object": "list",
                  "status": "completed",
                  "items": [
                    {
                      "custom_id": "product-123",
                      "retrieve_id": "ret_xyz789",
                      "url": "https://example.com/product/123",
                      "metadata": {
                        "source": "catalog_sync",
                        "priority": "high"
                      }
                    },
                    {
                      "custom_id": "product-456",
                      "retrieve_id": "ret_abc456",
                      "url": "https://example.com/product/456"
                    }
                  ],
                  "items_count": 2
                }
              }
            }
          },
          "400": {
            "description": "Solicitud incorrecta debido a parámetros incorrectos. Consulta [Solicitud Incorrecta](/api-reference/errors/bad_request) para más detalles.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "validation_error",
                  "type": "https://docs.olostep.com/api-reference/errors/bad_request",
                  "status": 400,
                  "title": "Solicitud Incorrecta",
                  "detail": "Status must be either 'completed' or 'failed'",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "401": {
            "description": "Las credenciales de autenticación faltan o son inválidas. Consulta [Unauthorized](/api-reference/errors/unauthorized) para más detalles.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "invalid_api_key",
                  "type": "https://docs.olostep.com/api-reference/errors/unauthorized",
                  "status": 401,
                  "title": "No autorizado",
                  "detail": "Your API key is invalid",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "404": {
            "description": "Lote no encontrado para el ID proporcionado. Consulta [No Encontrado](/api-reference/errors/not_found) para más detalles.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "batch_not_found",
                  "type": "https://docs.olostep.com/api-reference/errors/not_found",
                  "status": 404,
                  "title": "No Encontrado",
                  "detail": "Batch not found",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor. Consulta [Internal Error](/api-reference/errors/internal_error) para más detalles.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "id": "error_abc123",
                  "object": "error",
                  "code": "internal_server_error",
                  "type": "https://docs.olostep.com/api-reference/errors/internal_error",
                  "status": 500,
                  "title": "Error Interno del Servidor",
                  "detail": "An unexpected error occurred",
                  "created": 1704067200,
                  "metadata": {}
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer",
        "description": "Encabezado de autenticación Bearer del formato Bearer <token>, donde <token> es tu token de autenticación."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "description": "Respuesta de error de Detalles del Problema RFC 7807",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identificador único de error"
          },
          "object": {
            "type": "string",
            "enum": [
              "error"
            ],
            "description": "Siempre 'error'"
          },
          "code": {
            "type": "string",
            "description": "Código de error legible por máquina"
          },
          "type": {
            "type": "string",
            "format": "uri",
            "description": "Referencia URI que identifica el tipo de problema"
          },
          "status": {
            "type": "integer",
            "description": "Código de estado HTTP"
          },
          "title": {
            "type": "string",
            "description": "Resumen corto y legible por humanos"
          },
          "detail": {
            "type": "string",
            "description": "Explicación legible por humanos"
          },
          "created": {
            "type": "integer",
            "description": "Marca de tiempo Unix"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          },
          "errors": {
            "type": "array",
            "description": "Array opcional de detalles adicionales del error",
            "items": {}
          }
        },
        "required": [
          "id",
          "object",
          "code",
          "type",
          "status",
          "title",
          "detail",
          "created"
        ]
      },
      "Metadata": {
        "type": "object",
        "description": "Conjunto de pares clave-valor para almacenar información adicional sobre un objeto. Sigue el enfoque de Stripe con reglas de validación: máximo 50 claves, clave máximo 40 caracteres (sin corchetes), valor máximo 500 caracteres, todos los valores almacenados como cadenas.",
        "additionalProperties": {
          "type": "string",
          "maxLength": 500,
          "description": "Valor de metadatos (máximo 500 caracteres). Los números y booleanos se convierten automáticamente a cadenas."
        },
        "maxProperties": 50,
        "example": {
          "order_id": "12345",
          "customer_name": "John Doe",
          "priority": "high",
          "processed": "true"
        },
        "x-validation-rules": {
          "max_keys": 50,
          "key_max_length": 40,
          "key_forbidden_chars": [
            "[",
            "]"
          ],
          "value_max_length": 500,
          "value_types": [
            "string",
            "number (coerced)",
            "boolean (coerced)"
          ]
        }
      }
    }
  }
}