{
  "openapi": "3.0.3",
  "info": {
    "title": "API de Usuarios — Asociaciones",
    "version": "1.0.0",
    "description": "Puntos finales de socios afiliados en **users.olostep.com**. Cada solicitud necesita **`Content-Type: application/json`** además de **`X-Partner-Key`** y **`Idempotency-Key`**. **`X-Partner-Key`** es emitido por Olostep fuera de banda y autentica **tu integración**—no la clave API de Olostep de tu cliente. **`Idempotency-Key`** es elegido por ti (1–255 caracteres, uno por incorporación lógica); después de una respuesta exitosa, Olostep lo almacena para una repetición segura (~**24 horas**, TTL de DynamoDB, misma ventana que los lotes). Consulta la **Autenticación** y **Parámetros** de cada operación para conocer los detalles completos."
  },
  "servers": [
    {
      "url": "https://users.olostep.com"
    }
  ],
  "tags": [
    {
      "name": "Partnerships",
      "description": "Incorporación de usuarios proporcionada por el socio y créditos promocionales."
    }
  ],
  "components": {
    "securitySchemes": {
      "PartnerKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Partner-Key",
        "description": "Olostep emite esta **clave API de socio** fuera de banda durante la incorporación. Envíala en cada solicitud, por ejemplo `X-Partner-Key: <your_partnership_api_key>`. Autentica **tu integración**—no la clave API de Olostep de tu cliente. Un valor incorrecto o faltante devuelve **401** con `invalid_partner_key`."
      }
    },
    "schemas": {
      "PartnerQuickConnectRequestBody": {
        "type": "object",
        "required": [
          "verified_email"
        ],
        "properties": {
          "verified_email": {
            "type": "string",
            "format": "email",
            "description": "Correo electrónico del usuario final (ya verificado por el socio). Normalizado en el servidor a forma recortada en minúsculas."
          }
        }
      },
      "PartnerQuickConnectUserApiKey": {
        "type": "object",
        "required": [
          "has_existing_api_key"
        ],
        "properties": {
          "has_existing_api_key": {
            "type": "boolean",
            "description": "Si el usuario ya tenía al menos un token antes de que se completara esta solicitud."
          },
          "auto_generated_api_key": {
            "type": "string",
            "nullable": true,
            "description": "Nueva clave API predeterminada creada durante esta solicitud, si la hay. Omitida/nula cuando no se crea en esta llamada o cuando los créditos ya fueron reclamados."
          }
        }
      },
      "PartnerQuickConnectUser": {
        "type": "object",
        "required": [
          "object",
          "id",
          "email",
          "is_new_user",
          "api_key"
        ],
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "user"
            ]
          },
          "id": {
            "type": "string",
            "description": "ID de usuario de Olostep (Cognito `sub`)."
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "is_new_user": {
            "type": "boolean",
            "description": "`true` si se creó un nuevo usuario de Cognito; `false` si el correo electrónico ya existía en el grupo de usuarios."
          },
          "api_key": {
            "$ref": "#/components/schemas/PartnerQuickConnectUserApiKey"
          }
        }
      },
      "PartnerQuickConnectResult": {
        "type": "object",
        "required": [
          "object",
          "partner_name",
          "applied_quick_connect_credits",
          "user_message",
          "user"
        ],
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "partner_quick_connect_result"
            ]
          },
          "partner_name": {
            "type": "string",
            "description": "Nombre para mostrar de tu integración de socio, resuelto en el servidor desde tu `X-Partner-Key`."
          },
          "applied_quick_connect_credits": {
            "type": "integer",
            "description": "Créditos promocionales otorgados en esta respuesta. `0` cuando la cuenta ya reclamó créditos de conexión rápida del socio."
          },
          "user_message": {
            "type": "string",
            "description": "Resumen del resultado legible para humanos para la interfaz de usuario del socio."
          },
          "user": {
            "$ref": "#/components/schemas/PartnerQuickConnectUser"
          }
        }
      },
      "ProblemJsonErrorItem": {
        "type": "object",
        "properties": {
          "loc": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "description": "Ubicación del campo inválido (por ejemplo, `[\"header\",\"Idempotency-Key\"]` o `[\"body\",\"verified_email\"]`)."
          },
          "msg": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "Código de problema de la máquina (por ejemplo, Zod `code`)."
          }
        }
      },
      "ProblemJson": {
        "type": "object",
        "required": [
          "object",
          "id",
          "code",
          "type",
          "status",
          "title",
          "detail",
          "created",
          "metadata"
        ],
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "id": {
            "type": "string",
            "description": "ID único de instancia de error (`error_` + hex)."
          },
          "code": {
            "type": "string",
            "description": "Código de máquina estable, por ejemplo, `validation_error`, `invalid_partner_key`, `idempotency_key_reuse`, `internal_server_error`."
          },
          "type": {
            "type": "string",
            "format": "uri",
            "description": "URI del tipo de problema (RFC 7807)."
          },
          "status": {
            "type": "integer",
            "description": "Código de estado HTTP repetido en el cuerpo."
          },
          "title": {
            "type": "string"
          },
          "detail": {
            "type": "string",
            "description": "Explicación segura y orientada al cliente."
          },
          "created": {
            "type": "integer",
            "description": "Marca de tiempo Unix (segundos)."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProblemJsonErrorItem"
            },
            "description": "Presente para `validation_error` (400)."
          }
        }
      }
    }
  },
  "paths": {
    "/partnerships/quick-connect/user": {
      "post": {
        "operationId": "partnerQuickConnectUser",
        "tags": [
          "Partnerships"
        ],
        "summary": "Conexión rápida de usuario asociado",
        "description": "## Encabezados y autenticación  Cada solicitud debe incluir `Content-Type: application/json` además de **`X-Partner-Key`** (Autenticación) y **`Idempotency-Key`** (Parámetros).  ### `X-Partner-Key`  Olostep emite esta **clave API de socio** fuera de banda durante la incorporación. Envíala en cada solicitud, por ejemplo `X-Partner-Key: <your_partnership_api_key>`. Autentica **tu integración**, no la clave API de tu cliente de Olostep. Un error o falta de esta devuelve **401** con `invalid_partner_key`.  ### `Idempotency-Key`  **Requerido.** Clave única para esta operación lógica (máx. **255** caracteres). **Tú** la eliges - Olostep no la asigna. Usa una cadena por incorporación lógica (por ejemplo, un UUID o un hash estable de tu id de usuario interno).  **Repetición:** Misma clave + mismo `verified_email` repite la **respuesta completada** (JSON almacenado) mientras el registro de idempotencia exista - no se otorga un segundo crédito. Misma clave + **diferente** `verified_email` es rechazado (**422**).  **Retención:** Aproximadamente **24 horas** (DynamoDB TTL, misma ventana que los lotes). Después de la expiración, la repetición puede no devolver el cuerpo guardado - **persiste el JSON de éxito de Olostep** de tu lado si lo necesitas por más tiempo.  **Clave API del cliente:** Cuando Olostep genera una clave `olostep_...` por defecto en el primer otorgamiento exitoso, aparece en `user.api_key.auto_generated_api_key`. Ese valor se devuelve nuevamente solo a través de **repetición almacenada** (misma clave de idempotencia + mismo correo electrónico). Si llamas nuevamente con una **nueva** clave de idempotencia después de que el otorgamiento ya esté registrado, **200** es la forma ya reclamada **sin** la clave API en el payload. El cliente aún puede gestionar claves en el **panel de Olostep**.  **Recomendado:** Clave de idempotencia estable por registro, persiste el JSON de Olostep en caso de éxito, reintenta con la **misma** clave en caso de tiempos de espera.  ---  ## Comportamiento del endpoint  Crea o resuelve un usuario por correo electrónico verificado, aplica un reclamo de afiliado único por usuario de Cognito, otorga créditos promocionales de socio en el primer éxito y devuelve metadatos de la cuenta.  **Idempotente:** Repite la misma `Idempotency-Key` con el mismo `verified_email` para recuperar el cuerpo de éxito almacenado. Reutilizar la clave con un correo electrónico diferente devuelve **422**.  Los mismos detalles de encabezado e idempotencia se repiten bajo **Autenticación** y **Parámetros** en esta referencia.",
        "security": [
          {
            "PartnerKey": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "description": "Requerido. Clave única para esta operación lógica (máx. 255 caracteres). Misma clave + mismo `verified_email` repite la respuesta completada mientras el registro de idempotencia exista (~24 horas, DynamoDB TTL); misma clave + correo electrónico diferente es rechazado. La semántica completa (repetición de clave API, persistencia, reintentos) está en Encabezados y autenticación y en esta descripción del endpoint."
            },
            "description": "Requerido. Clave única para esta operación lógica (máx. 255 caracteres). Misma clave + mismo `verified_email` repite la respuesta completada mientras el registro de idempotencia exista (~24 horas, DynamoDB TTL, igual que los lotes); misma clave + correo electrónico diferente es rechazado (**422**).  **Tú** eliges este valor (1-255 caracteres), uno por incorporación lógica (por ejemplo, UUID o hash estable de tu id de usuario interno).  Después de **200**, Olostep persiste la respuesta para repetición bajo tu ámbito de socio y esta clave - **JSON almacenado literalmente**, sin efectos secundarios duplicados.  **Clave API del cliente:** `user.api_key.auto_generated_api_key` solo en la primera generación más repetición con la misma clave + correo electrónico; una nueva clave de idempotencia después del reclamo produce un **200** ya reclamado sin la clave. **Recomendado:** clave estable por registro, persiste JSON, reintenta con la misma clave en caso de tiempos de espera."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartnerQuickConnectRequestBody"
              },
              "examples": {
                "default": {
                  "summary": "Correo electrónico verificado",
                  "value": {
                    "verified_email": "customer@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Éxito — usuario resuelto o creado; consulta `applied_quick_connect_credits` para los créditos otorgados en esta llamada (puede ser `0` si ya se reclamaron).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerQuickConnectResult"
                },
                "examples": {
                  "newUserWithCredits": {
                    "summary": "Nuevo usuario, créditos otorgados",
                    "value": {
                      "object": "partner_quick_connect_result",
                      "partner_name": "acme_partner",
                      "applied_quick_connect_credits": 200000,
                      "user_message": "Account created and partner credits added.",
                      "user": {
                        "object": "user",
                        "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                        "email": "customer@example.com",
                        "is_new_user": true,
                        "api_key": {
                          "has_existing_api_key": false,
                          "auto_generated_api_key": "olostep_ExampleKeyReplaceMe"
                        }
                      }
                    }
                  },
                  "alreadyClaimed": {
                    "summary": "Créditos ya reclamados anteriormente",
                    "value": {
                      "object": "partner_quick_connect_result",
                      "partner_name": "acme_partner",
                      "applied_quick_connect_credits": 0,
                      "user_message": "Partner quick-connect credits were already claimed for this account.",
                      "user": {
                        "object": "user",
                        "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                        "email": "customer@example.com",
                        "is_new_user": false,
                        "api_key": {
                          "has_existing_api_key": true,
                          "auto_generated_api_key": null
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validación fallida (falta/clave `Idempotency-Key` inválida, correo electrónico no válido, JSON malformado, etc.). `Content-Type: application/problem+json`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJson"
                },
                "example": {
                  "object": "error",
                  "id": "error_0123456789abcdef",
                  "code": "validation_error",
                  "type": "https://docs.olostep.com/api-reference/errors/bad_request",
                  "status": 400,
                  "title": "Solicitud Incorrecta",
                  "detail": "Request validation failed",
                  "created": 1710000000,
                  "metadata": {},
                  "errors": [
                    {
                      "loc": [
                        "header",
                        "Idempotency-Key"
                      ],
                      "msg": "Idempotency-Key header is required.",
                      "type": "too_small"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Falta o es desconocido `X-Partner-Key`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJson"
                },
                "example": {
                  "object": "error",
                  "id": "error_0123456789abcdef",
                  "code": "invalid_partner_key",
                  "type": "https://docs.olostep.com/api-reference/errors/unauthorized",
                  "status": 401,
                  "title": "No autorizado",
                  "detail": "The partner key is missing or invalid.",
                  "created": 1710000000,
                  "metadata": {}
                }
              }
            }
          },
          "409": {
            "description": "La misma `Idempotency-Key` todavía se está procesando; intenta de nuevo más tarde.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJson"
                },
                "example": {
                  "object": "error",
                  "id": "error_0123456789abcdef",
                  "code": "idempotency_key_in_progress",
                  "type": "https://docs.olostep.com/api-reference/errors/bad_request",
                  "status": 409,
                  "title": "Conflicto",
                  "detail": "A request with this idempotency key is currently being processed. Please retry.",
                  "created": 1710000000,
                  "metadata": {}
                }
              }
            }
          },
          "422": {
            "description": "`Idempotency-Key` reutilizada con un `verified_email` diferente al de la primera solicitud.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJson"
                },
                "example": {
                  "object": "error",
                  "id": "error_0123456789abcdef",
                  "code": "idempotency_key_reuse",
                  "type": "https://docs.olostep.com/api-reference/errors/bad_request",
                  "status": 422,
                  "title": "Entidad No Procesable",
                  "detail": "A request with this idempotency key was already made with different parameters.",
                  "created": 1710000000,
                  "metadata": {}
                }
              }
            }
          },
          "500": {
            "description": "Otorgamiento de crédito o fallo inesperado. El `code` público es `internal_server_error`; puede ser apropiado reintentar para errores transitorios.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJson"
                },
                "example": {
                  "object": "error",
                  "id": "error_0123456789abcdef",
                  "code": "internal_server_error",
                  "type": "https://docs.olostep.com/api-reference/errors/bad_request",
                  "status": 500,
                  "title": "Error Interno del Servidor",
                  "detail": "Could not complete credit grant. Please retry.",
                  "created": 1710000000,
                  "metadata": {}
                }
              }
            }
          }
        }
      }
    }
  }
}