{
  "openapi": "3.0.3",
  "info": {
    "title": "API de Búsqueda",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.olostep.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer",
        "description": "Encabezado de autenticación Bearer del formato Bearer <token>, donde <token> es tu token de autenticación."
      }
    }
  },
  "paths": {
    "/v1/searches/{search_id}": {
      "get": {
        "summary": "Obtener Búsqueda",
        "description": "Recupera una búsqueda previamente completada por su ID.",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "search_id",
            "in": "path",
            "required": true,
            "description": "Identificador único de la búsqueda a recuperar.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta exitosa con el objeto de búsqueda.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    },
                    "created": {
                      "type": "integer"
                    },
                    "metadata": {
                      "type": "object"
                    },
                    "query": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "json_content": {
                          "type": "string"
                        },
                        "json_hosted_url": {
                          "type": "string",
                          "nullable": true
                        },
                        "links": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string",
                                "nullable": true
                              },
                              "description": {
                                "type": "string",
                                "nullable": true
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Clave API Inválida"
          },
          "404": {
            "description": "Búsqueda No Encontrada"
          },
          "500": {
            "description": "Error Interno del Servidor"
          }
        }
      }
    },
    "/v1/searches": {
      "post": {
        "summary": "Crear Búsqueda",
        "description": "Busca en la web con una consulta en lenguaje natural y obtén una lista deduplicada de enlaces relevantes con títulos y descripciones.  Buscará la consulta semánticamente en toda la web y devolverá resultados.  Consulta [función de búsqueda](/features/search).",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "La consulta de búsqueda en lenguaje natural."
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta exitosa con los resultados de la búsqueda.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "search_9bi0sbj9xa"
                    },
                    "object": {
                      "type": "string",
                      "example": "search"
                    },
                    "created": {
                      "type": "integer",
                      "example": 1760327323
                    },
                    "metadata": {
                      "type": "object"
                    },
                    "query": {
                      "type": "string",
                      "example": "Best Answer Engine Optimization startups"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "json_content": {
                          "type": "string",
                          "description": "JSON en formato de cadena del resultado completo de la búsqueda."
                        },
                        "json_hosted_url": {
                          "type": "string",
                          "description": "URL al archivo JSON alojado en S3.",
                          "nullable": true
                        },
                        "links": {
                          "type": "array",
                          "description": "Lista deduplicada de enlaces relevantes encontrados en múltiples búsquedas.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "La URL del resultado."
                              },
                              "title": {
                                "type": "string",
                                "nullable": true,
                                "description": "El título de la página de resultados."
                              },
                              "description": {
                                "type": "string",
                                "nullable": true,
                                "description": "Un breve fragmento o descripción del resultado."
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Solicitud Incorrecta (Falta la consulta)"
          },
          "401": {
            "description": "Clave API Inválida"
          },
          "500": {
            "description": "Error Interno del Servidor"
          }
        }
      }
    }
  }
}