{
  "openapi": "3.0.3",
  "info": {
    "title": "AirOps Batches API",
    "version": "1.0.0",
    "description": "AirOps専用のバッチスクレイピング用内部APIで、ページメタデータ抽出のための自動LLMエンリッチメントを行います。"
  },
  "servers": [
    {
      "url": "https://api.olostep.com"
    }
  ],
  "paths": {
    "/v1/batches-airops": {
      "post": {
        "operationId": "createAirOpsBatch",
        "summary": "AirOpsバッチを作成",
        "description": "スクレイピングとLLMベースのエンリッチメントを組み合わせたバッチプロセスを開始します。ワークフロー: URLをスクレイプ → メタデータを抽出 → ギャップ分析 → 欠落フィールドのためのLLMエンリッチメント。",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBatchRequest"
              },
              "example": {
                "items": [
                  {
                    "url": "https://example.com/blog/post-1",
                    "custom_id": "post-1"
                  },
                  {
                    "url": "https://example.com/blog/post-2",
                    "custom_id": "post-2"
                  }
                ],
                "brands": [
                  "Acme Corp",
                  "TechBrand"
                ],
                "country": "US",
                "webhook": "https://your-server.com/webhook"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "バッチが正常に作成されました。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBatchResponse"
                },
                "example": {
                  "id": "batch_abc123xyz",
                  "object": "batch_airops",
                  "created": 1705315200000,
                  "total_urls": 2,
                  "status": {
                    "overall": "in_progress",
                    "scraping": {
                      "state": "started",
                      "submitted": 2,
                      "valid": 2,
                      "succeeded": 0,
                      "failed": 0,
                      "started_at": 1705315200000,
                      "completed_at": null,
                      "error": null
                    },
                    "analyzing": {
                      "state": "pending",
                      "items_analyzed": 0,
                      "items_needing_enrichment": 0,
                      "items_complete": 0,
                      "fields_to_enrich": null,
                      "started_at": null,
                      "completed_at": null
                    },
                    "enriching": {
                      "state": "pending",
                      "items_to_enrich": 0,
                      "items_enriched": 0,
                      "items_failed": 0,
                      "llm_batch_id": null,
                      "started_at": null,
                      "completed_at": null,
                      "error": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "検証エラー。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "認証情報が欠落しているか無効です。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバーエラー。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/batches-airops/{batch_id}": {
      "get": {
        "operationId": "getAirOpsBatch",
        "summary": "AirOpsバッチのステータスを取得",
        "description": "AirOpsバッチの現在のステータスと設定を取得します。",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "取得するバッチのID。",
            "example": "batch_abc123xyz"
          }
        ],
        "responses": {
          "200": {
            "description": "バッチステータスが正常に取得されました。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchDetailResponse"
                },
                "example": {
                  "id": "batch_abc123xyz",
                  "object": "batch",
                  "created_at": 1705315200000,
                  "total_urls": 50,
                  "status": "completed",
                  "batch_mode": true,
                  "scraping": {
                    "state": "completed",
                    "submitted": 50,
                    "valid": 50,
                    "succeeded": 48,
                    "failed": 2,
                    "started_at": 1705315200000,
                    "completed_at": 1705315500000,
                    "error": null
                  },
                  "analyzing": {
                    "state": "completed",
                    "items_analyzed": 48,
                    "items_needing_enrichment": 30,
                    "items_complete": 18,
                    "started_at": 1705315500000,
                    "completed_at": 1705315502000
                  },
                  "enriching": {
                    "state": "completed",
                    "items_to_enrich": 30,
                    "items_enriched": 30,
                    "items_failed": 0,
                    "llm_batch_id": "batch_xyz789",
                    "batch_mode": true,
                    "started_at": 1705315502000,
                    "completed_at": 1705316800000,
                    "error": null
                  }
                }
              }
            }
          },
          "404": {
            "description": "バッチが見つかりません。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/batches-airops/{batch_id}/items": {
      "get": {
        "operationId": "getAirOpsBatchItems",
        "summary": "AirOpsバッチアイテムを取得",
        "description": "バッチ内のすべてのアイテムを、そのパーサーとエンリッチされたデータと共に取得します。",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "アイテムを取得するバッチのID。",
            "example": "batch_abc123xyz"
          }
        ],
        "responses": {
          "200": {
            "description": "バッチアイテムが正常に取得されました。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBatchItemsResponse"
                },
                "example": {
                  "batch_id": "batch_abc123xyz",
                  "completed_at": "2024-01-15T12:30:00.000Z",
                  "status": "completed",
                  "counts": {
                    "total": 3,
                    "succeeded": 2,
                    "failed": 1
                  },
                  "items": [
                    {
                      "custom_id": "post-1",
                      "url": "https://example.com/blog/post-1",
                      "status": "completed",
                      "page_type": "informational_article",
                      "author": "John Doe",
                      "date_published": "2024-01-15",
                      "date_modified": null,
                      "brand_mentions": [
                        "Acme Corp"
                      ]
                    },
                    {
                      "custom_id": "post-2",
                      "url": "https://example.com/pricing",
                      "status": "completed",
                      "page_type": "pricing_page",
                      "author": null,
                      "date_published": null,
                      "date_modified": null,
                      "brand_mentions": []
                    },
                    {
                      "custom_id": "post-3",
                      "url": "https://example.com/broken",
                      "status": "failed",
                      "failed_stage": "scraping",
                      "error": {
                        "code": "SCRAPE_FAILED",
                        "message": "URL failed to scrape"
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "バッチが見つかりません。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer <token>形式のBearer認証ヘッダー。<token>はあなたの認証トークンです。"
      }
    },
    "schemas": {
      "CreateBatchRequest": {
        "type": "object",
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "minItems": 1,
            "maxItems": 10000,
            "items": {
              "$ref": "#/components/schemas/BatchItem"
            },
            "description": "処理するアイテムの配列。"
          },
          "brands": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100
            },
            "default": [],
            "description": "ページコンテンツで探すブランド名。LLMは各ページからこれらのブランドの言及を抽出します。"
          },
          "country": {
            "type": "string",
            "default": "RANDOM",
            "description": "ジオターゲティングされたスクレイピングのための国。ISO 3166-1 alpha-2 コード（US, GB, DE など）または自動選択のための 'RANDOM' を使用。"
          },
          "webhook": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "バッチライフサイクルイベントのためのWebhook通知を受け取るURL。"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        }
      },
      "BatchItem": {
        "type": "object",
        "required": [
          "url",
          "custom_id"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "スクレイピングするURL。"
          },
          "custom_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "このアイテムのためのあなたのユニークな識別子。"
          }
        }
      },
      "CreateBatchResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ユニークなバッチ識別子。"
          },
          "object": {
            "type": "string",
            "enum": [
              "batch_airops"
            ],
            "description": "オブジェクトタイプ識別子。"
          },
          "created": {
            "type": "integer",
            "description": "バッチが作成されたときのUnixタイムスタンプ（ミリ秒）。"
          },
          "total_urls": {
            "type": "integer",
            "description": "バッチ内のURLの総数。"
          },
          "status": {
            "$ref": "#/components/schemas/WorkflowStatus"
          }
        }
      },
      "BatchDetailResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "batch"
            ]
          },
          "created_at": {
            "type": "integer",
            "description": "Unixタイムスタンプ（ms）"
          },
          "total_urls": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "in_progress",
              "completed",
              "failed"
            ],
            "description": "全体のワークフローのステータス。"
          },
          "batch_mode": {
            "type": "boolean",
            "description": "非同期LLMバッチモードが有効かどうか。"
          },
          "scraping": {
            "$ref": "#/components/schemas/ScrapingStatus"
          },
          "analyzing": {
            "$ref": "#/components/schemas/AnalyzingStatus"
          },
          "enriching": {
            "$ref": "#/components/schemas/EnrichingStatus"
          }
        }
      },
      "ListBatchItemsResponse": {
        "type": "object",
        "properties": {
          "batch_id": {
            "type": "string",
            "description": "バッチ識別子。"
          },
          "completed_at": {
            "type": "string",
            "description": "バッチが完了したときのISO 8601タイムスタンプ。"
          },
          "status": {
            "type": "string",
            "enum": [
              "completed",
              "in_progress"
            ],
            "description": "バッチステータス。"
          },
          "counts": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "description": "バッチ内のアイテムの総数。"
              },
              "succeeded": {
                "type": "integer",
                "description": "正常に処理されたアイテム。"
              },
              "failed": {
                "type": "integer",
                "description": "失敗したアイテム。"
              }
            }
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BatchItemResult"
            }
          },
          "message": {
            "type": "string",
            "description": "バッチがまだ処理中の場合に表示されるステータスメッセージ。"
          }
        }
      },
      "BatchItemResult": {
        "type": "object",
        "description": "処理されたアイテム。ステータスに基づいて構造が異なる。",
        "properties": {
          "custom_id": {
            "type": "string",
            "description": "リクエストからのあなたの識別子。"
          },
          "url": {
            "type": "string",
            "description": "スクレイピングされたURL。"
          },
          "status": {
            "type": "string",
            "enum": [
              "completed",
              "failed"
            ],
            "description": "アイテム処理ステータス。"
          },
          "page_type": {
            "type": "string",
            "nullable": true,
            "enum": [
              "homepage",
              "product_page",
              "collection_page",
              "pricing_page",
              "informational_article",
              "documentation",
              "listicle_article",
              "comparison_page",
              "support_article",
              "review_page",
              "forum_thread",
              "social_media_post",
              "social_media_profile",
              "video_page",
              "news_article",
              "case_study",
              "marketplace_listing",
              "landing_page",
              "deal_page",
              "job_posting",
              "other"
            ],
            "description": "分類されたページタイプ（ステータスが\"completed\"のときに表示）。"
          },
          "author": {
            "type": "string",
            "nullable": true,
            "description": "コンテンツの著者。"
          },
          "date_published": {
            "type": "string",
            "nullable": true,
            "description": "公開日。"
          },
          "date_modified": {
            "type": "string",
            "nullable": true,
            "description": "最終更新日。"
          },
          "brand_mentions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "ページで見つかったブランド。"
          },
          "failed_stage": {
            "type": "string",
            "enum": [
              "scraping",
              "analyzing",
              "enriching"
            ],
            "description": "失敗が発生したステージ（ステータスが\"failed\"のときに表示）。"
          },
          "error": {
            "$ref": "#/components/schemas/StepError",
            "description": "エラーの詳細（ステータスが\"failed\"のときに表示）。"
          }
        }
      },
      "EnrichedData": {
        "type": "object",
        "nullable": true,
        "description": "パーサーとLLM抽出結果を組み合わせた最終マージ出力。",
        "properties": {
          "url": {
            "type": "string"
          },
          "page_type": {
            "type": "string",
            "nullable": true,
            "enum": [
              "homepage",
              "product_page",
              "collection_page",
              "pricing_page",
              "informational_article",
              "documentation",
              "listicle_article",
              "comparison_page",
              "support_article",
              "review_page",
              "forum_thread",
              "social_media_post",
              "social_media_profile",
              "video_page",
              "news_article",
              "case_study",
              "marketplace_listing",
              "landing_page",
              "deal_page",
              "job_posting",
              "other"
            ],
            "description": "分類されたページタイプ。"
          },
          "author": {
            "type": "string",
            "nullable": true,
            "description": "コンテンツの著者。"
          },
          "date_published": {
            "type": "string",
            "nullable": true,
            "description": "公開日（利用可能な場合はISO 8601形式）。"
          },
          "date_modified": {
            "type": "string",
            "nullable": true,
            "description": "最終更新日。"
          },
          "brand_mentions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "入力リストからページで言及されたブランド。"
          },
          "methods": {
            "type": "object",
            "description": "各フィールドに使用された抽出方法。",
            "additionalProperties": {
              "type": "string",
              "enum": [
                "classifier",
                "parser",
                "llm",
                "not_found"
              ]
            }
          }
        }
      },
      "WorkflowStatus": {
        "type": "object",
        "description": "すべてのワークフローフェーズを示す統一ステータスオブジェクト。",
        "properties": {
          "overall": {
            "type": "string",
            "enum": [
              "pending",
              "in_progress",
              "completed",
              "failed"
            ],
            "description": "集計されたワークフロー状態。"
          },
          "scraping": {
            "$ref": "#/components/schemas/ScrapingStatus"
          },
          "analyzing": {
            "$ref": "#/components/schemas/AnalyzingStatus"
          },
          "enriching": {
            "$ref": "#/components/schemas/EnrichingStatus"
          }
        }
      },
      "ScrapingStatus": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "enum": [
              "pending",
              "started",
              "completed",
              "failed"
            ]
          },
          "submitted": {
            "type": "integer",
            "description": "スクレイパーに送信されたURL。"
          },
          "valid": {
            "type": "integer",
            "description": "検証後の有効なURL。"
          },
          "succeeded": {
            "type": "integer",
            "description": "スクレイピングに成功したURL。"
          },
          "failed": {
            "type": "integer",
            "description": "失敗したスクレイピング。"
          },
          "started_at": {
            "type": "integer",
            "nullable": true
          },
          "completed_at": {
            "type": "integer",
            "nullable": true
          },
          "error": {
            "$ref": "#/components/schemas/StepError"
          }
        }
      },
      "AnalyzingStatus": {
        "type": "object",
        "description": "ギャップ分析フェーズ - LLMの強化が必要なものを決定します。",
        "properties": {
          "state": {
            "type": "string",
            "enum": [
              "pending",
              "started",
              "completed",
              "failed"
            ]
          },
          "items_analyzed": {
            "type": "integer"
          },
          "items_needing_enrichment": {
            "type": "integer"
          },
          "items_complete": {
            "type": "integer",
            "description": "パーサーからすべてのフィールドが揃ったアイテム。"
          },
          "fields_to_enrich": {
            "type": "object",
            "nullable": true,
            "description": "各フィールドを必要とするアイテムの数。",
            "properties": {
              "page_type": {
                "type": "integer"
              },
              "author": {
                "type": "integer"
              },
              "date_published": {
                "type": "integer"
              },
              "date_modified": {
                "type": "integer"
              },
              "brand_mentions": {
                "type": "integer"
              }
            }
          },
          "started_at": {
            "type": "integer",
            "nullable": true
          },
          "completed_at": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "EnrichingStatus": {
        "type": "object",
        "description": "Batch APIを介したLLM抽出フェーズ。",
        "properties": {
          "state": {
            "type": "string",
            "enum": [
              "pending",
              "started",
              "completed",
              "failed",
              "skipped"
            ]
          },
          "items_to_enrich": {
            "type": "integer"
          },
          "items_enriched": {
            "type": "integer"
          },
          "items_failed": {
            "type": "integer"
          },
          "llm_batch_id": {
            "type": "string",
            "nullable": true,
            "description": "LLM Batch API ID"
          },
          "batch_mode": {
            "type": "boolean",
            "description": "非同期バッチAPIが使用されたかどうか"
          },
          "llm": {
            "$ref": "#/components/schemas/LLMInfo"
          },
          "started_at": {
            "type": "integer",
            "nullable": true
          },
          "completed_at": {
            "type": "integer",
            "nullable": true
          },
          "error": {
            "$ref": "#/components/schemas/StepError"
          }
        }
      },
      "LLMInfo": {
        "type": "object",
        "nullable": true,
        "description": "LLMプロバイダーと使用詳細。",
        "properties": {
          "provider": {
            "type": "string",
            "description": "処理プロバイダー"
          },
          "model": {
            "type": "string",
            "description": "抽出に使用されたモデル"
          },
          "usage": {
            "type": "object",
            "properties": {
              "prompt_tokens": {
                "type": "integer"
              },
              "completion_tokens": {
                "type": "integer"
              },
              "total_tokens": {
                "type": "integer"
              }
            }
          },
          "completion_time_ms": {
            "type": "integer",
            "nullable": true,
            "description": "処理時間（ms）"
          }
        }
      },
      "StepError": {
        "type": "object",
        "nullable": true,
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "error_code": {
            "type": "string",
            "example": "validation_error"
          },
          "error_message": {
            "type": "string"
          },
          "details": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error_code": {
            "type": "string"
          },
          "error_message": {
            "type": "string"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "description": "カスタムデータのキーと値のペア。最大50キー、キーは最大40文字、値は最大500文字。",
        "additionalProperties": {
          "type": "string",
          "maxLength": 500
        },
        "maxProperties": 50,
        "example": {
          "project_id": "12345",
          "source": "weekly-crawl"
        }
      }
    }
  }
}