{
  "openapi": "3.0.3",
  "info": {
    "title": "Answers API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.olostep.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer認証ヘッダーはBearer <token>の形式で、<token>はあなたの認証トークンです。"
      }
    }
  },
  "paths": {
    "/v1/answers": {
      "post": {
        "summary": "Answerを作成",
        "description": "AIは、提供されたタスクに対する答えを見つけるために、検索やウェブページの閲覧などのアクションを実行します。 実行時間は複雑さに応じて3〜30秒です。  より長いタスクの場合は、代わりにエージェントエンドポイントを使用してください。[Agent feature](/features/agents)を参照してください。[Answers feature](/features/answers)を参照してください。",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "task": {
                    "type": "string",
                    "description": "実行するタスク。"
                  },
                  "json_format": {
                    "type": "object",
                    "description": "スキーマとして空の値を持つ望ましい出力JSONオブジェクト、または単に欲しいデータを文字列として説明してください。"
                  }
                },
                "required": [
                  "task"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "答えを含む成功したレスポンス。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    },
                    "created": {
                      "type": "integer"
                    },
                    "metadata": {
                      "type": "object"
                    },
                    "task": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "json_content": {
                          "type": "string"
                        },
                        "json_hosted_url": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "不正なリクエスト（タスクがありません）"
          },
          "402": {
            "description": "無効なAPIキー"
          },
          "500": {
            "description": "内部サーバーエラー"
          }
        }
      }
    },
    "/v1/answers/{answer_id}": {
      "get": {
        "summary": "Answerを取得",
        "description": "このエンドポイントは、以前に完了したAnswerをそのIDで取得します。",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "answer_id",
            "in": "path",
            "required": true,
            "description": "取得するAnswerの一意の識別子。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Answerオブジェクトを含む成功したレスポンス。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    },
                    "created": {
                      "type": "integer"
                    },
                    "metadata": {
                      "type": "object"
                    },
                    "task": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "json_content": {
                          "type": "string"
                        },
                        "json_hosted_url": {
                          "type": "string"
                        },
                        "sources": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "無効なAPIキー"
          },
          "404": {
            "description": "Answerが見つかりません。"
          },
          "500": {
            "description": "内部サーバーエラー"
          }
        }
      }
    }
  }
}