{
  "openapi": "3.0.3",
  "info": {
    "title": "ユーザー API — パートナーシップ",
    "version": "1.0.0",
    "description": "**users.olostep.com** のアフィリエイトパートナーエンドポイント。すべてのリクエストには **`Content-Type: application/json`** と **`X-Partner-Key`**、**`Idempotency-Key`** が必要です。**`X-Partner-Key`** は Olostep によってバンド外で発行され、**あなたの統合**を認証します—あなたの顧客の Olostep API キーではありません。**`Idempotency-Key`** はあなたが選びます（1–255 文字、論理的なオンボーディングごとに1つ）。成功したレスポンスの後、Olostep はそれを安全なリプレイのために保存します（約 **24 時間**、DynamoDB TTL、バッチと同じウィンドウ）。各操作の **Authentication** と **Parameters** を参照して完全な意味を確認してください。"
  },
  "servers": [
    {
      "url": "https://users.olostep.com"
    }
  ],
  "tags": [
    {
      "name": "Partnerships",
      "description": "パートナーが提供するユーザーオンボーディングとプロモクレジット。"
    }
  ],
  "components": {
    "securitySchemes": {
      "PartnerKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Partner-Key",
        "description": "Olostep はオンボーディング中にこの **パートナー API キー** をバンド外で発行します。すべてのリクエストで送信してください。例えば `X-Partner-Key: <your_partnership_api_key>`。これは **あなたの統合**を認証します—あなたの顧客の Olostep API キーではありません。間違った値や欠落した値は **401** を返し、`invalid_partner_key` となります。"
      }
    },
    "schemas": {
      "PartnerQuickConnectRequestBody": {
        "type": "object",
        "required": [
          "verified_email"
        ],
        "properties": {
          "verified_email": {
            "type": "string",
            "format": "email",
            "description": "エンドユーザーのメール（パートナーによって既に確認済み）。サーバー側で小文字のトリムされた形式に正規化されます。"
          }
        }
      },
      "PartnerQuickConnectUserApiKey": {
        "type": "object",
        "required": [
          "has_existing_api_key"
        ],
        "properties": {
          "has_existing_api_key": {
            "type": "boolean",
            "description": "このリクエストが完了する前に、ユーザーがすでに少なくとも1つのトークンを持っていたかどうか。"
          },
          "auto_generated_api_key": {
            "type": "string",
            "nullable": true,
            "description": "このリクエスト中に新しく発行されたデフォルトの API キー（もしあれば）。この呼び出しで作成されなかった場合や、クレジットがすでに請求されていた場合は省略/ヌル。"
          }
        }
      },
      "PartnerQuickConnectUser": {
        "type": "object",
        "required": [
          "object",
          "id",
          "email",
          "is_new_user",
          "api_key"
        ],
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "user"
            ]
          },
          "id": {
            "type": "string",
            "description": "Olostep ユーザー ID (Cognito `sub`)。"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "is_new_user": {
            "type": "boolean",
            "description": "新しい Cognito ユーザーが作成された場合は `true`。ユーザープールにメールが既に存在していた場合は `false`。"
          },
          "api_key": {
            "$ref": "#/components/schemas/PartnerQuickConnectUserApiKey"
          }
        }
      },
      "PartnerQuickConnectResult": {
        "type": "object",
        "required": [
          "object",
          "partner_name",
          "applied_quick_connect_credits",
          "user_message",
          "user"
        ],
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "partner_quick_connect_result"
            ]
          },
          "partner_name": {
            "type": "string",
            "description": "あなたのパートナー統合の表示名、サーバー側であなたの `X-Partner-Key` から解決されます。"
          },
          "applied_quick_connect_credits": {
            "type": "integer",
            "description": "このレスポンスで付与されたプロモクレジット。アカウントがすでにパートナーのクイックコネクトクレジットを請求している場合は `0`。"
          },
          "user_message": {
            "type": "string",
            "description": "パートナー UI のための人間が読める結果の要約。"
          },
          "user": {
            "$ref": "#/components/schemas/PartnerQuickConnectUser"
          }
        }
      },
      "ProblemJsonErrorItem": {
        "type": "object",
        "properties": {
          "loc": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "description": "無効なフィールドの場所（例: `[\"header\",\"Idempotency-Key\"]` または `[\"body\",\"verified_email\"]`）。"
          },
          "msg": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "機械的な問題コード（例: Zod `code`）。"
          }
        }
      },
      "ProblemJson": {
        "type": "object",
        "required": [
          "object",
          "id",
          "code",
          "type",
          "status",
          "title",
          "detail",
          "created",
          "metadata"
        ],
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "id": {
            "type": "string",
            "description": "ユニークなエラーインスタンス ID (`error_` + hex)。"
          },
          "code": {
            "type": "string",
            "description": "安定した機械コード、例: `validation_error`、`invalid_partner_key`、`idempotency_key_reuse`、`internal_server_error`。"
          },
          "type": {
            "type": "string",
            "format": "uri",
            "description": "問題タイプ URI (RFC 7807)。"
          },
          "status": {
            "type": "integer",
            "description": "本文に繰り返される HTTP ステータスコード。"
          },
          "title": {
            "type": "string"
          },
          "detail": {
            "type": "string",
            "description": "安全でクライアント向けの説明。"
          },
          "created": {
            "type": "integer",
            "description": "Unix タイムスタンプ（秒）。"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProblemJsonErrorItem"
            },
            "description": "`validation_error` (400) の場合"
          }
        }
      }
    }
  },
  "paths": {
    "/partnerships/quick-connect/user": {
      "post": {
        "operationId": "partnerQuickConnectUser",
        "tags": [
          "Partnerships"
        ],
        "summary": "パートナー ユーザー クイックコネクト",
        "description": "## ヘッダー & 認証  すべてのリクエストには `Content-Type: application/json` と **`X-Partner-Key`** (認証) および **`Idempotency-Key`** (パラメータ) を含める必要があります。  ### `X-Partner-Key`  Olostep はオンボーディング中にこの **パートナー API キー** をバンド外で発行します。すべてのリクエストに送信してください。例: `X-Partner-Key: <your_partnership_api_key>`。これは **あなたの統合** を認証するものであり、あなたの顧客の Olostep API キーではありません。間違っているか欠落している場合は、**401** と `invalid_partner_key` が返されます。  ### `Idempotency-Key`  **必須。** この論理操作のための一意のキー (最大 **255** 文字)。**あなた** が選択します - Olostep はそれを割り当てません。論理的なオンボーディングごとに 1 つの文字列を使用します (例: UUID または内部ユーザー ID の安定したハッシュ)。  **リプレイ:** 同じキー + 同じ `verified_email` は、**完了したレスポンス** (保存された JSON) をリプレイします。冪等性レコードが存在する間は、2 回目のクレジット付与はありません。同じキー + **異なる** `verified_email` は拒否されます (**422**)。  **保持:** 約 **24 時間** (DynamoDB TTL、バッチと同じウィンドウ)。期限切れ後、リプレイは保存された本文を返さない可能性があります - **Olostep の成功 JSON** を長期間必要な場合はあなたの側で保持してください。  **顧客 API キー:** Olostep が最初の成功した付与でデフォルトの `olostep_...` キーを発行すると、それは `user.api_key.auto_generated_api_key` に表示されます。その値は、**保存されたリプレイ** (同じ冪等性キー + 同じメール) を通じてのみ再度返されます。付与がすでに記録された後に **新しい** 冪等性キーで再度呼び出すと、**200** はペイロードに API キーがない状態で既にクレームされた形を示します。顧客は **Olostep ダッシュボード** でキーを管理できます。  **推奨:** サインアップごとに安定した冪等性キーを使用し、成功時に Olostep の JSON を保持し、タイムアウト時には **同じ** キーで再試行してください。  ---  ## エンドポイントの動作  確認済みのメールでユーザーを作成または解決し、Cognito ユーザーごとに一度だけアフィリエイトクレームを強制し、最初の成功時にパートナープロモクレジットを付与し、アカウントメタデータを返します。  **冪等:** 同じ `Idempotency-Key` と同じ `verified_email` を繰り返して保存された成功本文を取得します。異なるメールでキーを再利用すると **422** が返されます。  同じヘッダーと冪等性の詳細は、このリファレンスの **認証** と **パラメータ** に繰り返されています。",
        "security": [
          {
            "PartnerKey": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "description": "必須。この論理操作のための一意のキー (最大 255 文字)。同じキー + 同じ verified_email は、冪等性レコードが存在する間 (~24 時間、DynamoDB TTL) に完了したレスポンスをリプレイします。同じキー + 異なるメールは拒否されます。完全な意味 (API キーのリプレイ、永続性、再試行) は、ヘッダー & 認証およびこのエンドポイントの説明にあります。"
            },
            "description": "必須。この論理操作のための一意のキー (最大 255 文字)。同じキー + 同じ `verified_email` は、冪等性レコードが存在する間 (~24 時間、DynamoDB TTL、バッチと同じ) に完了したレスポンスをリプレイします。同じキー + 異なるメールは拒否されます (**422**)。  **あなた** がこの値を選択します (1-255 文字)、論理的なオンボーディングごとに 1 つ (例: UUID または内部ユーザー ID の安定したハッシュ)。  **200** の後、Olostep はこのキーとあなたのパートナースコープの下でリプレイのためにレスポンスを保持します - **保存された JSON そのまま**、重複する副作用はありません。  **顧客 API キー:** `user.api_key.auto_generated_api_key` は最初の発行時と同じキー + メールでのリプレイ時のみ。クレーム後に新しい冪等性キーを使用すると、キーなしで既にクレームされた **200** が得られます。**推奨:** サインアップごとに安定したキーを使用し、JSON を保持し、タイムアウト時には同じキーで再試行してください。"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartnerQuickConnectRequestBody"
              },
              "examples": {
                "default": {
                  "summary": "確認済みメール",
                  "value": {
                    "verified_email": "customer@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功 — ユーザーが解決または作成されました。この呼び出しで付与されたクレジットは `applied_quick_connect_credits` を参照してください (すでにクレームされている場合は `0` になることがあります)。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerQuickConnectResult"
                },
                "examples": {
                  "newUserWithCredits": {
                    "summary": "新しいユーザー、クレジット付与済み",
                    "value": {
                      "object": "partner_quick_connect_result",
                      "partner_name": "acme_partner",
                      "applied_quick_connect_credits": 200000,
                      "user_message": "Account created and partner credits added.",
                      "user": {
                        "object": "user",
                        "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                        "email": "customer@example.com",
                        "is_new_user": true,
                        "api_key": {
                          "has_existing_api_key": false,
                          "auto_generated_api_key": "olostep_ExampleKeyReplaceMe"
                        }
                      }
                    }
                  },
                  "alreadyClaimed": {
                    "summary": "クレジットは以前にすでにクレームされています",
                    "value": {
                      "object": "partner_quick_connect_result",
                      "partner_name": "acme_partner",
                      "applied_quick_connect_credits": 0,
                      "user_message": "Partner quick-connect credits were already claimed for this account.",
                      "user": {
                        "object": "user",
                        "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                        "email": "customer@example.com",
                        "is_new_user": false,
                        "api_key": {
                          "has_existing_api_key": true,
                          "auto_generated_api_key": null
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "検証に失敗しました (欠落/無効な `Idempotency-Key`、無効なメール、形式が不正な JSON など)。`Content-Type: application/problem+json`。",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJson"
                },
                "example": {
                  "object": "error",
                  "id": "error_0123456789abcdef",
                  "code": "validation_error",
                  "type": "https://docs.olostep.com/api-reference/errors/bad_request",
                  "status": 400,
                  "title": "不正なリクエスト",
                  "detail": "Request validation failed",
                  "created": 1710000000,
                  "metadata": {},
                  "errors": [
                    {
                      "loc": [
                        "header",
                        "Idempotency-Key"
                      ],
                      "msg": "Idempotency-Key header is required.",
                      "type": "too_small"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "欠落または不明な `X-Partner-Key`。",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJson"
                },
                "example": {
                  "object": "error",
                  "id": "error_0123456789abcdef",
                  "code": "invalid_partner_key",
                  "type": "https://docs.olostep.com/api-reference/errors/unauthorized",
                  "status": 401,
                  "title": "認証されていません",
                  "detail": "The partner key is missing or invalid.",
                  "created": 1710000000,
                  "metadata": {}
                }
              }
            }
          },
          "409": {
            "description": "同じ `Idempotency-Key` がまだ処理中です。後で再試行してください。",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJson"
                },
                "example": {
                  "object": "error",
                  "id": "error_0123456789abcdef",
                  "code": "idempotency_key_in_progress",
                  "type": "https://docs.olostep.com/api-reference/errors/bad_request",
                  "status": 409,
                  "title": "競合",
                  "detail": "A request with this idempotency key is currently being processed. Please retry.",
                  "created": 1710000000,
                  "metadata": {}
                }
              }
            }
          },
          "422": {
            "description": "`Idempotency-Key` が最初のリクエストとは異なる `verified_email` で再利用されました。",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJson"
                },
                "example": {
                  "object": "error",
                  "id": "error_0123456789abcdef",
                  "code": "idempotency_key_reuse",
                  "type": "https://docs.olostep.com/api-reference/errors/bad_request",
                  "status": 422,
                  "title": "処理できないエンティティ",
                  "detail": "A request with this idempotency key was already made with different parameters.",
                  "created": 1710000000,
                  "metadata": {}
                }
              }
            }
          },
          "500": {
            "description": "クレジット付与または予期しない失敗。公開 `code` は `internal_server_error` です。トランジエントエラーの場合、再試行が適切かもしれません。",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJson"
                },
                "example": {
                  "object": "error",
                  "id": "error_0123456789abcdef",
                  "code": "internal_server_error",
                  "type": "https://docs.olostep.com/api-reference/errors/bad_request",
                  "status": 500,
                  "title": "内部サーバーエラー",
                  "detail": "Could not complete credit grant. Please retry.",
                  "created": 1710000000,
                  "metadata": {}
                }
              }
            }
          }
        }
      }
    }
  }
}