{
  "openapi": "3.0.3",
  "info": {
    "title": "API di Crawl",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.olostep.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer",
        "description": "Intestazione di autenticazione Bearer della forma Bearer <token>, dove <token> è il tuo token di autenticazione."
      }
    }
  },
  "paths": {
    "/v1/crawls": {
      "post": {
        "summary": "Avvia un nuovo crawl",
        "description": "Inizia un nuovo processo di crawl con i parametri specificati.",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "start_url": {
                    "type": "string",
                    "description": "Il punto di partenza del crawl."
                  },
                  "include_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Modelli di percorso URL da includere nel crawl usando la sintassi glob.  Di default è `/**` che include tutti gli URL. Usa modelli come `/blog/**` per fare il crawl di sezioni specifiche (ad esempio, solo le pagine del blog), `/products/*.html` per le pagine dei prodotti, o modelli multipli per sezioni diverse. Supporta le funzionalità standard glob come * (qualsiasi carattere) e ** (corrispondenza ricorsiva)."
                  },
                  "exclude_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Nomi di percorso URL nel modello glob da escludere. Ad esempio: `/careers/**`. Gli URL esclusi avranno la precedenza sugli URL inclusi."
                  },
                  "max_pages": {
                    "type": "number",
                    "description": "Numero massimo di pagine da fare il crawl. Consigliato per la maggior parte dei casi d'uso come fare il crawl di un intero sito web."
                  },
                  "max_depth": {
                    "type": "number",
                    "description": "Profondità massima del crawl. Utile per estrarre solo fino a n gradi di link."
                  },
                  "include_external": {
                    "type": "boolean",
                    "description": "Fai il crawl dei link esterni di primo grado."
                  },
                  "include_subdomain": {
                    "type": "boolean",
                    "description": "Includi i sottodomini del sito web. `false` di default."
                  },
                  "search_query": {
                    "type": "string",
                    "description": "Una query di ricerca opzionale per trovare link specifici e anche ordinare i risultati per rilevanza."
                  },
                  "top_n": {
                    "type": "number",
                    "description": "Un numero opzionale per fare il crawl solo dei primi N link più rilevanti su ogni pagina secondo la query di ricerca."
                  },
                  "webhook": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL HTTPS per ricevere una richiesta POST quando il crawl è completato. Deve essere un URL pubblicamente accessibile usando il protocollo `http://` o `https://`. Non può puntare a localhost o indirizzi IP privati. Vedi [Webhooks](/api-reference/common/webhooks) per il formato del payload e il comportamento di retry."
                  },
                  "timeout": {
                    "type": "number",
                    "description": "Termina il crawl dopo n secondi con le pagine completate fino a quel momento. Potrebbe richiedere ~10s extra rispetto al timeout fornito."
                  },
                  "follow_robots_txt": {
                    "type": "boolean",
                    "description": "Se rispettare le regole di robots.txt. Se impostato su `false`, il crawler farà lo scraping del sito web indipendentemente dalle direttive di disallow di robots.txt. `true` di default.",
                    "default": true
                  },
                  "scrape_options": {
                    "type": "object",
                    "description": "Controlla cosa richiede ogni singola pagina di scrape dall'API di Olostep. Tutti i campi sono opzionali.",
                    "properties": {
                      "formats": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "html",
                            "markdown",
                            "text",
                            "json",
                            "screenshot"
                          ]
                        },
                        "description": "Formati di output da richiedere per ogni pagina di scrape. Di default è `[\"html\", \"markdown\"]` quando omesso. `html` è sempre incluso automaticamente. `json` è aggiunto automaticamente quando è fornito un `parser`. Nota: `raw_pdf` non è supportato — i PDF non possono essere fatti il crawl.",
                        "example": [
                          "markdown",
                          "screenshot"
                        ]
                      },
                      "parser": {
                        "type": "string",
                        "description": "Nome del parser da eseguire su ogni pagina per produrre un output `json` strutturato (ad esempio, `\"@olostep/extract-emails\"`). Aggiunge automaticamente `json` a `formats` quando impostato.",
                        "example": "@olostep/extract-emails"
                      }
                    }
                  }
                },
                "required": [
                  "start_url",
                  "max_pages"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Crawl avviato con successo.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID del Crawl"
                    },
                    "object": {
                      "type": "string",
                      "description": "Il tipo di oggetto. \"crawl\" per questo endpoint."
                    },
                    "status": {
                      "type": "string",
                      "description": "`in_progress` o `completed`"
                    },
                    "created": {
                      "type": "number",
                      "description": "Tempo di creazione in epoch"
                    },
                    "start_date": {
                      "type": "string",
                      "description": "Tempo di creazione in data"
                    },
                    "start_url": {
                      "type": "string"
                    },
                    "max_pages": {
                      "type": "number"
                    },
                    "max_depth": {
                      "type": "number"
                    },
                    "exclude_urls": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "include_urls": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "include_external": {
                      "type": "boolean"
                    },
                    "search_query": {
                      "type": "string"
                    },
                    "top_n": {
                      "type": "number"
                    },
                    "current_depth": {
                      "type": "number",
                      "description": "La profondità attuale del processo di crawl."
                    },
                    "pages_count": {
                      "type": "number",
                      "description": "Conteggio delle pagine scansionate"
                    },
                    "webhook": {
                      "type": "string"
                    },
                    "follow_robots_txt": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Richiesta errata a causa di parametri errati o mancanti."
          },
          "500": {
            "description": "Errore interno del server."
          }
        }
      }
    },
    "/v1/crawls/{crawl_id}": {
      "get": {
        "summary": "Recupera informazioni sul crawl",
        "description": "Recupera informazioni su un crawl specifico utilizzando il suo `crawl_id`.",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "crawl_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L'ID del crawl per cui recuperare le informazioni."
          }
        ],
        "responses": {
          "200": {
            "description": "Risposta riuscita con informazioni sul crawl.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID del Crawl"
                    },
                    "object": {
                      "type": "string",
                      "description": "Il tipo di oggetto. \"crawl\" per questo endpoint."
                    },
                    "status": {
                      "type": "string",
                      "description": "`in_progress` o `completed`"
                    },
                    "created": {
                      "type": "number",
                      "description": "Tempo di creazione in epoch"
                    },
                    "start_date": {
                      "type": "string",
                      "description": "Tempo di creazione in data"
                    },
                    "start_url": {
                      "type": "string"
                    },
                    "max_pages": {
                      "type": "number"
                    },
                    "max_depth": {
                      "type": "number"
                    },
                    "exclude_urls": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "include_urls": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "include_external": {
                      "type": "boolean"
                    },
                    "search_query": {
                      "type": "string"
                    },
                    "top_n": {
                      "type": "number"
                    },
                    "current_depth": {
                      "type": "number",
                      "description": "La profondità attuale del processo di crawl."
                    },
                    "pages_count": {
                      "type": "number",
                      "description": "Conteggio delle pagine scansionate"
                    },
                    "webhook": {
                      "type": "string"
                    },
                    "follow_robots_txt": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Richiesta errata a causa di parametri errati o mancanti."
          },
          "404": {
            "description": "Crawl non trovato per l'ID fornito."
          },
          "500": {
            "description": "Errore interno del server."
          }
        }
      }
    },
    "/v1/crawls/{crawl_id}/pages": {
      "get": {
        "summary": "Recupera l'elenco delle pagine scansionate, eventualmente con contenuto",
        "description": "Recupera l'elenco delle pagine scansionate e del contenuto che sono stati elaborati per un ID di crawl specifico.",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "crawl_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L'ID del crawl per cui recuperare l'elenco degli URL."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Intero opzionale che rappresenta l'indice da cui iniziare a recuperare il contenuto. Utile per paginare fino a quando tutti gli URL sono stati recuperati. Inizia con 0, poi fornisci il valore di `response['cursor']` dell'ultima richiesta."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Intero opzionale per limitare il numero di risultati restituiti. Consigliato 10-50 risultati alla volta. Paginato usando *cursor*. Massimo 10MB di contenuto possono essere recuperati in una singola richiesta."
          },
          {
            "name": "search_query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Una query di ricerca opzionale per ordinare i risultati per rilevanza. Usa la search_query originale per impostazione predefinita se fornita."
          },
          {
            "name": "formats",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "html",
                  "markdown"
                ]
              }
            },
            "description": "**Deprecato:** Usa l'endpoint `/retrieve` con `retrieve_id`.  Array di formati da recuperare (es. [\"html\", \"markdown\"])."
          }
        ],
        "responses": {
          "200": {
            "description": "Risposta riuscita con l'elenco degli URL.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "crawl_id": {
                      "type": "string",
                      "description": "ID del Crawl"
                    },
                    "object": {
                      "type": "string",
                      "description": "Il tipo di oggetto. \"crawl\" per questo endpoint."
                    },
                    "status": {
                      "type": "string",
                      "description": "`in_progress` o `completed`"
                    },
                    "search_query": {
                      "type": "string"
                    },
                    "pages_count": {
                      "type": "number"
                    },
                    "pages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "retrieve_id": {
                            "type": "string",
                            "description": "Per recuperare contenuti dall'endpoint `/retrieve`"
                          },
                          "url": {
                            "type": "string"
                          },
                          "is_external": {
                            "type": "boolean"
                          },
                          "html_content": {
                            "type": "string",
                            "description": "Deprecato: Usa l'endpoint `/retrieve` con `retrieve_id`."
                          },
                          "markdown_content": {
                            "type": "string",
                            "description": "Deprecato: Usa l'endpoint `/retrieve` con `retrieve_id`."
                          }
                        }
                      }
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "external_urls": {
                          "type": "array",
                          "description": "URL esterni trovati durante la scansione",
                          "items": {
                            "type": "string"
                          }
                        },
                        "failed_urls": {
                          "type": "array",
                          "description": "URL trovati ma che non è stato possibile estrarre",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "cursor": {
                      "type": "integer",
                      "description": "Da passare nella query nella prossima richiesta per ottenere i prossimi elementi."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Richiesta errata a causa di parametri errati o mancanti."
          },
          "404": {
            "description": "Crawl non trovato per l'ID fornito."
          },
          "500": {
            "description": "Errore interno del server."
          }
        }
      }
    }
  }
}