{
  "openapi": "3.0.3",
  "info": {
    "title": "API Utenti — Partnership",
    "version": "1.0.0",
    "description": "Endpoint per partner affiliati su **users.olostep.com**. Ogni richiesta necessita di **`Content-Type: application/json`** più **`X-Partner-Key`** e **`Idempotency-Key`**. **`X-Partner-Key`** è emesso da Olostep fuori banda e autentica **la tua integrazione**—non la chiave API Olostep del tuo cliente. **`Idempotency-Key`** è scelto da te (1–255 caratteri, uno per onboarding logico); dopo una risposta positiva Olostep lo memorizza per un replay sicuro (~**24 ore**, TTL di DynamoDB, stessa finestra dei batch). Vedi **Autenticazione** e **Parametri** di ogni operazione per la semantica completa."
  },
  "servers": [
    {
      "url": "https://users.olostep.com"
    }
  ],
  "tags": [
    {
      "name": "Partnerships",
      "description": "Onboarding utente e crediti promozionali forniti dal partner."
    }
  ],
  "components": {
    "securitySchemes": {
      "PartnerKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Partner-Key",
        "description": "Olostep emette questa **chiave API del partner** fuori banda durante l'onboarding. Inviarla in ogni richiesta, ad esempio `X-Partner-Key: <your_partnership_api_key>`. Autentica **la tua integrazione**—non la chiave API Olostep del tuo cliente. Un valore errato o mancante restituisce **401** con `invalid_partner_key`."
      }
    },
    "schemas": {
      "PartnerQuickConnectRequestBody": {
        "type": "object",
        "required": [
          "verified_email"
        ],
        "properties": {
          "verified_email": {
            "type": "string",
            "format": "email",
            "description": "Email dell'utente finale (già verificata dal partner). Normalizzata lato server in forma minuscola e senza spazi."
          }
        }
      },
      "PartnerQuickConnectUserApiKey": {
        "type": "object",
        "required": [
          "has_existing_api_key"
        ],
        "properties": {
          "has_existing_api_key": {
            "type": "boolean",
            "description": "Se l'utente aveva già almeno un token prima che questa richiesta fosse completata."
          },
          "auto_generated_api_key": {
            "type": "string",
            "nullable": true,
            "description": "Nuova chiave API predefinita creata durante questa richiesta, se presente. Omissis/null quando non creata in questa chiamata o quando i crediti erano già stati richiesti."
          }
        }
      },
      "PartnerQuickConnectUser": {
        "type": "object",
        "required": [
          "object",
          "id",
          "email",
          "is_new_user",
          "api_key"
        ],
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "user"
            ]
          },
          "id": {
            "type": "string",
            "description": "ID utente Olostep (Cognito `sub`)."
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "is_new_user": {
            "type": "boolean",
            "description": "`true` se è stato creato un nuovo utente Cognito; `false` se l'email esisteva già nel pool utenti."
          },
          "api_key": {
            "$ref": "#/components/schemas/PartnerQuickConnectUserApiKey"
          }
        }
      },
      "PartnerQuickConnectResult": {
        "type": "object",
        "required": [
          "object",
          "partner_name",
          "applied_quick_connect_credits",
          "user_message",
          "user"
        ],
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "partner_quick_connect_result"
            ]
          },
          "partner_name": {
            "type": "string",
            "description": "Nome visualizzato per la tua integrazione partner, risolto lato server dal tuo `X-Partner-Key`."
          },
          "applied_quick_connect_credits": {
            "type": "integer",
            "description": "Crediti promozionali concessi in questa risposta. `0` quando l'account ha già richiesto i crediti di connessione rapida del partner."
          },
          "user_message": {
            "type": "string",
            "description": "Sommario leggibile dell'esito per l'interfaccia utente del partner."
          },
          "user": {
            "$ref": "#/components/schemas/PartnerQuickConnectUser"
          }
        }
      },
      "ProblemJsonErrorItem": {
        "type": "object",
        "properties": {
          "loc": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "description": "Posizione del campo non valido (es. `[\"header\",\"Idempotency-Key\"]` o `[\"body\",\"verified_email\"]`)."
          },
          "msg": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "Codice problema macchina (es. codice Zod `code`)."
          }
        }
      },
      "ProblemJson": {
        "type": "object",
        "required": [
          "object",
          "id",
          "code",
          "type",
          "status",
          "title",
          "detail",
          "created",
          "metadata"
        ],
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "id": {
            "type": "string",
            "description": "ID univoco dell'istanza di errore (`error_` + hex)."
          },
          "code": {
            "type": "string",
            "description": "Codice macchina stabile, es. `validation_error`, `invalid_partner_key`, `idempotency_key_reuse`, `internal_server_error`."
          },
          "type": {
            "type": "string",
            "format": "uri",
            "description": "URI del tipo di problema (RFC 7807)."
          },
          "status": {
            "type": "integer",
            "description": "Codice di stato HTTP ripetuto nel corpo."
          },
          "title": {
            "type": "string"
          },
          "detail": {
            "type": "string",
            "description": "Spiegazione sicura e rivolta al cliente."
          },
          "created": {
            "type": "integer",
            "description": "Timestamp Unix (secondi)."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProblemJsonErrorItem"
            },
            "description": "Presente per `validation_error` (400)."
          }
        }
      }
    }
  },
  "paths": {
    "/partnerships/quick-connect/user": {
      "post": {
        "operationId": "partnerQuickConnectUser",
        "tags": [
          "Partnerships"
        ],
        "summary": "Connessione rapida utente partner",
        "description": "## Intestazioni e autenticazione  Ogni richiesta deve includere `Content-Type: application/json` più **`X-Partner-Key`** (Autenticazione) e **`Idempotency-Key`** (Parametri).  ### `X-Partner-Key`  Olostep emette questa **chiave API partner** fuori banda durante l'onboarding. Inviarla in ogni richiesta, ad esempio `X-Partner-Key: <your_partnership_api_key>`. Autentica **la tua integrazione**, non la chiave API Olostep del tuo cliente. Errata o mancante restituisce **401** con `invalid_partner_key`.  ### `Idempotency-Key`  **Obbligatorio.** Chiave unica per questa operazione logica (max **255** caratteri). **Tu** la scegli - Olostep non la assegna. Usa una stringa per ogni onboarding logico (ad esempio un UUID o un hash stabile del tuo id utente interno).  **Replay:** Stessa chiave + stesso `verified_email` riproduce la **risposta completata** (JSON memorizzato) mentre il record di idempotenza esiste - nessuna seconda concessione di credito. Stessa chiave + **diverso** `verified_email` viene rifiutato (**422**).  **Conservazione:** Circa **24 ore** (DynamoDB TTL, stessa finestra dei batch). Dopo la scadenza, il replay potrebbe non restituire il corpo salvato - **conserva il JSON di successo di Olostep** dalla tua parte se ne hai bisogno più a lungo.  **Chiave API cliente:** Quando Olostep crea una chiave predefinita `olostep_...` al primo successo, appare in `user.api_key.auto_generated_api_key`. Quel valore viene restituito di nuovo solo tramite **replay memorizzato** (stessa chiave di idempotenza + stessa email). Se chiami di nuovo con una **nuova** chiave di idempotenza dopo che la concessione è già registrata, **200** è la forma già rivendicata **senza** la chiave API nel payload. Il cliente può comunque gestire le chiavi nel **dashboard di Olostep**.  **Consigliato:** Chiave di idempotenza stabile per ogni iscrizione, conserva il JSON di Olostep al successo, riprova con la **stessa** chiave in caso di timeout.  ---  ## Comportamento dell'endpoint  Crea o risolve un utente tramite email verificata, applica una rivendicazione affiliata una tantum per utente Cognito, concede crediti promozionali partner al primo successo e restituisce i metadati dell'account.  **Idempotente:** Ripeti la stessa `Idempotency-Key` con lo stesso `verified_email` per recuperare il corpo di successo memorizzato. Riutilizzare la chiave con un'email diversa restituisce **422**.  Gli stessi dettagli di intestazione e idempotenza sono ripetuti sotto **Autenticazione** e **Parametri** in questo riferimento.",
        "security": [
          {
            "PartnerKey": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "description": "Obbligatorio. Chiave unica per questa operazione logica (max 255 caratteri). Stessa chiave + stessa email verificata riproduce la risposta completata mentre il record di idempotenza esiste (~24 ore, DynamoDB TTL); stessa chiave + email diversa viene rifiutata. La semantica completa (replay della chiave API, persistenza, ritentativi) è in Intestazioni e autenticazione e nella descrizione di questo endpoint."
            },
            "description": "Obbligatorio. Chiave unica per questa operazione logica (max 255 caratteri). Stessa chiave + stesso `verified_email` riproduce la risposta completata mentre il record di idempotenza esiste (~24 ore, DynamoDB TTL, stesso dei batch); stessa chiave + email diversa viene rifiutata (**422**).  **Tu** scegli questo valore (1-255 caratteri), uno per ogni onboarding logico (ad esempio UUID o hash stabile del tuo id utente interno).  Dopo **200**, Olostep conserva la risposta per il replay sotto il tuo ambito partner e questa chiave - **JSON memorizzato letteralmente**, nessun effetto collaterale duplicato.  **Chiave API cliente:** `user.api_key.auto_generated_api_key` solo alla prima creazione più replay con la stessa chiave + email; una nuova chiave di idempotenza dopo la rivendicazione produce già rivendicato **200** senza la chiave. **Consigliato:** chiave stabile per ogni iscrizione, conserva il JSON, riprova con la stessa chiave in caso di timeout."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartnerQuickConnectRequestBody"
              },
              "examples": {
                "default": {
                  "summary": "Email verificata",
                  "value": {
                    "verified_email": "customer@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successo — utente risolto o creato; vedi `applied_quick_connect_credits` per i crediti concessi in questa chiamata (potrebbe essere `0` se già rivendicati).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerQuickConnectResult"
                },
                "examples": {
                  "newUserWithCredits": {
                    "summary": "Nuovo utente, crediti concessi",
                    "value": {
                      "object": "partner_quick_connect_result",
                      "partner_name": "acme_partner",
                      "applied_quick_connect_credits": 200000,
                      "user_message": "Account created and partner credits added.",
                      "user": {
                        "object": "user",
                        "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                        "email": "customer@example.com",
                        "is_new_user": true,
                        "api_key": {
                          "has_existing_api_key": false,
                          "auto_generated_api_key": "olostep_ExampleKeyReplaceMe"
                        }
                      }
                    }
                  },
                  "alreadyClaimed": {
                    "summary": "Crediti già rivendicati in precedenza",
                    "value": {
                      "object": "partner_quick_connect_result",
                      "partner_name": "acme_partner",
                      "applied_quick_connect_credits": 0,
                      "user_message": "Partner quick-connect credits were already claimed for this account.",
                      "user": {
                        "object": "user",
                        "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                        "email": "customer@example.com",
                        "is_new_user": false,
                        "api_key": {
                          "has_existing_api_key": true,
                          "auto_generated_api_key": null
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validazione fallita (mancante/invalid `Idempotency-Key`, email non valida, JSON malformato, ecc.). `Content-Type: application/problem+json`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJson"
                },
                "example": {
                  "object": "error",
                  "id": "error_0123456789abcdef",
                  "code": "validation_error",
                  "type": "https://docs.olostep.com/api-reference/errors/bad_request",
                  "status": 400,
                  "title": "Richiesta Errata",
                  "detail": "Request validation failed",
                  "created": 1710000000,
                  "metadata": {},
                  "errors": [
                    {
                      "loc": [
                        "header",
                        "Idempotency-Key"
                      ],
                      "msg": "Idempotency-Key header is required.",
                      "type": "too_small"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "`X-Partner-Key` mancante o sconosciuto.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJson"
                },
                "example": {
                  "object": "error",
                  "id": "error_0123456789abcdef",
                  "code": "invalid_partner_key",
                  "type": "https://docs.olostep.com/api-reference/errors/unauthorized",
                  "status": 401,
                  "title": "Non autorizzato",
                  "detail": "The partner key is missing or invalid.",
                  "created": 1710000000,
                  "metadata": {}
                }
              }
            }
          },
          "409": {
            "description": "La stessa `Idempotency-Key` è ancora in elaborazione; riprova più tardi.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJson"
                },
                "example": {
                  "object": "error",
                  "id": "error_0123456789abcdef",
                  "code": "idempotency_key_in_progress",
                  "type": "https://docs.olostep.com/api-reference/errors/bad_request",
                  "status": 409,
                  "title": "Conflitto",
                  "detail": "A request with this idempotency key is currently being processed. Please retry.",
                  "created": 1710000000,
                  "metadata": {}
                }
              }
            }
          },
          "422": {
            "description": "`Idempotency-Key` riutilizzata con un `verified_email` diverso rispetto alla prima richiesta.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJson"
                },
                "example": {
                  "object": "error",
                  "id": "error_0123456789abcdef",
                  "code": "idempotency_key_reuse",
                  "type": "https://docs.olostep.com/api-reference/errors/bad_request",
                  "status": 422,
                  "title": "Entità Non Elaborabile",
                  "detail": "A request with this idempotency key was already made with different parameters.",
                  "created": 1710000000,
                  "metadata": {}
                }
              }
            }
          },
          "500": {
            "description": "Concessione di credito o errore imprevisto. Il `code` pubblico è `internal_server_error`; il ritentativo potrebbe essere appropriato per errori transitori.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJson"
                },
                "example": {
                  "object": "error",
                  "id": "error_0123456789abcdef",
                  "code": "internal_server_error",
                  "type": "https://docs.olostep.com/api-reference/errors/bad_request",
                  "status": 500,
                  "title": "Errore Interno del Server",
                  "detail": "Could not complete credit grant. Please retry.",
                  "created": 1710000000,
                  "metadata": {}
                }
              }
            }
          }
        }
      }
    }
  }
}