{
  "openapi": "3.0.3",
  "info": {
    "title": "AirOps 批处理 API",
    "version": "1.0.0",
    "description": "用于 AirOps 专用批量抓取的内部 API，具有用于页面元数据提取的自动 LLM 增强功能。"
  },
  "servers": [
    {
      "url": "https://api.olostep.com"
    }
  ],
  "paths": {
    "/v1/batches-airops": {
      "post": {
        "operationId": "createAirOpsBatch",
        "summary": "创建 AirOps 批处理",
        "description": "启动一个批处理过程，将抓取与基于 LLM 的页面元数据提取增强相结合。工作流程：抓取 URLs → 提取元数据 → 差距分析 → LLM 增强缺失字段。",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBatchRequest"
              },
              "example": {
                "items": [
                  {
                    "url": "https://example.com/blog/post-1",
                    "custom_id": "post-1"
                  },
                  {
                    "url": "https://example.com/blog/post-2",
                    "custom_id": "post-2"
                  }
                ],
                "brands": [
                  "Acme Corp",
                  "TechBrand"
                ],
                "country": "US",
                "webhook": "https://your-server.com/webhook"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "批处理创建成功。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBatchResponse"
                },
                "example": {
                  "id": "batch_abc123xyz",
                  "object": "batch_airops",
                  "created": 1705315200000,
                  "total_urls": 2,
                  "status": {
                    "overall": "in_progress",
                    "scraping": {
                      "state": "started",
                      "submitted": 2,
                      "valid": 2,
                      "succeeded": 0,
                      "failed": 0,
                      "started_at": 1705315200000,
                      "completed_at": null,
                      "error": null
                    },
                    "analyzing": {
                      "state": "pending",
                      "items_analyzed": 0,
                      "items_needing_enrichment": 0,
                      "items_complete": 0,
                      "fields_to_enrich": null,
                      "started_at": null,
                      "completed_at": null
                    },
                    "enriching": {
                      "state": "pending",
                      "items_to_enrich": 0,
                      "items_enriched": 0,
                      "items_failed": 0,
                      "llm_batch_id": null,
                      "started_at": null,
                      "completed_at": null,
                      "error": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "验证错误。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "身份验证凭据缺失或无效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "内部服务器错误。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/batches-airops/{batch_id}": {
      "get": {
        "operationId": "getAirOpsBatch",
        "summary": "获取 AirOps 批处理状态",
        "description": "检索 AirOps 批处理的当前状态和配置。",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "要检索的批处理 ID。",
            "example": "batch_abc123xyz"
          }
        ],
        "responses": {
          "200": {
            "description": "批处理状态检索成功。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchDetailResponse"
                },
                "example": {
                  "id": "batch_abc123xyz",
                  "object": "batch",
                  "created_at": 1705315200000,
                  "total_urls": 50,
                  "status": "completed",
                  "batch_mode": true,
                  "scraping": {
                    "state": "completed",
                    "submitted": 50,
                    "valid": 50,
                    "succeeded": 48,
                    "failed": 2,
                    "started_at": 1705315200000,
                    "completed_at": 1705315500000,
                    "error": null
                  },
                  "analyzing": {
                    "state": "completed",
                    "items_analyzed": 48,
                    "items_needing_enrichment": 30,
                    "items_complete": 18,
                    "started_at": 1705315500000,
                    "completed_at": 1705315502000
                  },
                  "enriching": {
                    "state": "completed",
                    "items_to_enrich": 30,
                    "items_enriched": 30,
                    "items_failed": 0,
                    "llm_batch_id": "batch_xyz789",
                    "batch_mode": true,
                    "started_at": 1705315502000,
                    "completed_at": 1705316800000,
                    "error": null
                  }
                }
              }
            }
          },
          "404": {
            "description": "未找到批处理。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/batches-airops/{batch_id}/items": {
      "get": {
        "operationId": "getAirOpsBatchItems",
        "summary": "获取 AirOps 批处理项目",
        "description": "检索批处理中的所有项目及其解析器和增强数据。",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "要检索项目的批处理 ID。",
            "example": "batch_abc123xyz"
          }
        ],
        "responses": {
          "200": {
            "description": "批处理项目检索成功。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBatchItemsResponse"
                },
                "example": {
                  "batch_id": "batch_abc123xyz",
                  "completed_at": "2024-01-15T12:30:00.000Z",
                  "status": "completed",
                  "counts": {
                    "total": 3,
                    "succeeded": 2,
                    "failed": 1
                  },
                  "items": [
                    {
                      "custom_id": "post-1",
                      "url": "https://example.com/blog/post-1",
                      "status": "completed",
                      "page_type": "informational_article",
                      "author": "John Doe",
                      "date_published": "2024-01-15",
                      "date_modified": null,
                      "brand_mentions": [
                        "Acme Corp"
                      ]
                    },
                    {
                      "custom_id": "post-2",
                      "url": "https://example.com/pricing",
                      "status": "completed",
                      "page_type": "pricing_page",
                      "author": null,
                      "date_published": null,
                      "date_modified": null,
                      "brand_mentions": []
                    },
                    {
                      "custom_id": "post-3",
                      "url": "https://example.com/broken",
                      "status": "failed",
                      "failed_stage": "scraping",
                      "error": {
                        "code": "SCRAPE_FAILED",
                        "message": "URL failed to scrape"
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "未找到批处理。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer 认证头格式为 Bearer <token>，其中 <token> 是你的认证令牌。"
      }
    },
    "schemas": {
      "CreateBatchRequest": {
        "type": "object",
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "minItems": 1,
            "maxItems": 10000,
            "items": {
              "$ref": "#/components/schemas/BatchItem"
            },
            "description": "要处理的项目数组。"
          },
          "brands": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100
            },
            "default": [],
            "description": "要在页面内容中查找的品牌名称。LLM 将从每个页面中提取这些品牌的提及。"
          },
          "country": {
            "type": "string",
            "default": "RANDOM",
            "description": "用于地理定位抓取的国家。使用 ISO 3166-1 alpha-2 代码（US, GB, DE 等）或 'RANDOM' 进行自动选择。"
          },
          "webhook": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "接收批处理生命周期事件的 webhook 通知的 URL。"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        }
      },
      "BatchItem": {
        "type": "object",
        "required": [
          "url",
          "custom_id"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "要抓取的 URL。"
          },
          "custom_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "你对该项目的唯一标识符。"
          }
        }
      },
      "CreateBatchResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "唯一的批处理标识符。"
          },
          "object": {
            "type": "string",
            "enum": [
              "batch_airops"
            ],
            "description": "对象类型标识符。"
          },
          "created": {
            "type": "integer",
            "description": "批处理创建时的 Unix 时间戳（毫秒）。"
          },
          "total_urls": {
            "type": "integer",
            "description": "批处理中的 URL 总数。"
          },
          "status": {
            "$ref": "#/components/schemas/WorkflowStatus"
          }
        }
      },
      "BatchDetailResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "batch"
            ]
          },
          "created_at": {
            "type": "integer",
            "description": "Unix 时间戳（毫秒）"
          },
          "total_urls": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "in_progress",
              "completed",
              "failed"
            ],
            "description": "整体工作流程状态。"
          },
          "batch_mode": {
            "type": "boolean",
            "description": "是否启用了异步 LLM 批处理模式。"
          },
          "scraping": {
            "$ref": "#/components/schemas/ScrapingStatus"
          },
          "analyzing": {
            "$ref": "#/components/schemas/AnalyzingStatus"
          },
          "enriching": {
            "$ref": "#/components/schemas/EnrichingStatus"
          }
        }
      },
      "ListBatchItemsResponse": {
        "type": "object",
        "properties": {
          "batch_id": {
            "type": "string",
            "description": "批处理标识符。"
          },
          "completed_at": {
            "type": "string",
            "description": "批处理完成时的 ISO 8601 时间戳。"
          },
          "status": {
            "type": "string",
            "enum": [
              "completed",
              "in_progress"
            ],
            "description": "批处理状态。"
          },
          "counts": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "description": "批处理中的项目总数。"
              },
              "succeeded": {
                "type": "integer",
                "description": "成功处理的项目。"
              },
              "failed": {
                "type": "integer",
                "description": "失败的项目。"
              }
            }
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BatchItemResult"
            }
          },
          "message": {
            "type": "string",
            "description": "状态消息（当批处理仍在处理中时出现）。"
          }
        }
      },
      "BatchItemResult": {
        "type": "object",
        "description": "一个已处理的项目。结构根据状态而异。",
        "properties": {
          "custom_id": {
            "type": "string",
            "description": "你在请求中的标识符。"
          },
          "url": {
            "type": "string",
            "description": "抓取的URL。"
          },
          "status": {
            "type": "string",
            "enum": [
              "completed",
              "failed"
            ],
            "description": "项目处理状态。"
          },
          "page_type": {
            "type": "string",
            "nullable": true,
            "enum": [
              "homepage",
              "product_page",
              "collection_page",
              "pricing_page",
              "informational_article",
              "documentation",
              "listicle_article",
              "comparison_page",
              "support_article",
              "review_page",
              "forum_thread",
              "social_media_post",
              "social_media_profile",
              "video_page",
              "news_article",
              "case_study",
              "marketplace_listing",
              "landing_page",
              "deal_page",
              "job_posting",
              "other"
            ],
            "description": "分类页面类型（状态为\"completed\"时出现）。"
          },
          "author": {
            "type": "string",
            "nullable": true,
            "description": "内容作者。"
          },
          "date_published": {
            "type": "string",
            "nullable": true,
            "description": "发布日期。"
          },
          "date_modified": {
            "type": "string",
            "nullable": true,
            "description": "最后修改日期。"
          },
          "brand_mentions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "页面上找到的品牌。"
          },
          "failed_stage": {
            "type": "string",
            "enum": [
              "scraping",
              "analyzing",
              "enriching"
            ],
            "description": "发生故障的阶段（状态为\"failed\"时出现）。"
          },
          "error": {
            "$ref": "#/components/schemas/StepError",
            "description": "错误详情（状态为\"failed\"时出现）。"
          }
        }
      },
      "EnrichedData": {
        "type": "object",
        "nullable": true,
        "description": "合并解析器和LLM提取结果的最终输出。",
        "properties": {
          "url": {
            "type": "string"
          },
          "page_type": {
            "type": "string",
            "nullable": true,
            "enum": [
              "homepage",
              "product_page",
              "collection_page",
              "pricing_page",
              "informational_article",
              "documentation",
              "listicle_article",
              "comparison_page",
              "support_article",
              "review_page",
              "forum_thread",
              "social_media_post",
              "social_media_profile",
              "video_page",
              "news_article",
              "case_study",
              "marketplace_listing",
              "landing_page",
              "deal_page",
              "job_posting",
              "other"
            ],
            "description": "分类页面类型。"
          },
          "author": {
            "type": "string",
            "nullable": true,
            "description": "内容作者。"
          },
          "date_published": {
            "type": "string",
            "nullable": true,
            "description": "发布日期（如果可用，采用ISO 8601格式）。"
          },
          "date_modified": {
            "type": "string",
            "nullable": true,
            "description": "最后修改日期。"
          },
          "brand_mentions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "输入列表中在页面上提到的品牌。"
          },
          "methods": {
            "type": "object",
            "description": "每个字段使用的提取方法。",
            "additionalProperties": {
              "type": "string",
              "enum": [
                "classifier",
                "parser",
                "llm",
                "not_found"
              ]
            }
          }
        }
      },
      "WorkflowStatus": {
        "type": "object",
        "description": "显示所有工作流程阶段的统一状态对象。",
        "properties": {
          "overall": {
            "type": "string",
            "enum": [
              "pending",
              "in_progress",
              "completed",
              "failed"
            ],
            "description": "汇总的工作流程状态。"
          },
          "scraping": {
            "$ref": "#/components/schemas/ScrapingStatus"
          },
          "analyzing": {
            "$ref": "#/components/schemas/AnalyzingStatus"
          },
          "enriching": {
            "$ref": "#/components/schemas/EnrichingStatus"
          }
        }
      },
      "ScrapingStatus": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "enum": [
              "pending",
              "started",
              "completed",
              "failed"
            ]
          },
          "submitted": {
            "type": "integer",
            "description": "提交给抓取器的URLs。"
          },
          "valid": {
            "type": "integer",
            "description": "验证后的有效URLs。"
          },
          "succeeded": {
            "type": "integer",
            "description": "成功抓取的URLs。"
          },
          "failed": {
            "type": "integer",
            "description": "抓取失败的URLs。"
          },
          "started_at": {
            "type": "integer",
            "nullable": true
          },
          "completed_at": {
            "type": "integer",
            "nullable": true
          },
          "error": {
            "$ref": "#/components/schemas/StepError"
          }
        }
      },
      "AnalyzingStatus": {
        "type": "object",
        "description": "差距分析阶段 - 确定需要 LLM 增强的内容。",
        "properties": {
          "state": {
            "type": "string",
            "enum": [
              "pending",
              "started",
              "completed",
              "failed"
            ]
          },
          "items_analyzed": {
            "type": "integer"
          },
          "items_needing_enrichment": {
            "type": "integer"
          },
          "items_complete": {
            "type": "integer",
            "description": "解析器中所有字段都存在的项目。"
          },
          "fields_to_enrich": {
            "type": "object",
            "nullable": true,
            "description": "需要每个字段的项目数量。",
            "properties": {
              "page_type": {
                "type": "integer"
              },
              "author": {
                "type": "integer"
              },
              "date_published": {
                "type": "integer"
              },
              "date_modified": {
                "type": "integer"
              },
              "brand_mentions": {
                "type": "integer"
              }
            }
          },
          "started_at": {
            "type": "integer",
            "nullable": true
          },
          "completed_at": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "EnrichingStatus": {
        "type": "object",
        "description": "通过批量 API 进行 LLM 提取阶段。",
        "properties": {
          "state": {
            "type": "string",
            "enum": [
              "pending",
              "started",
              "completed",
              "failed",
              "skipped"
            ]
          },
          "items_to_enrich": {
            "type": "integer"
          },
          "items_enriched": {
            "type": "integer"
          },
          "items_failed": {
            "type": "integer"
          },
          "llm_batch_id": {
            "type": "string",
            "nullable": true,
            "description": "LLM 批量 API ID"
          },
          "batch_mode": {
            "type": "boolean",
            "description": "是否使用了异步批量 API"
          },
          "llm": {
            "$ref": "#/components/schemas/LLMInfo"
          },
          "started_at": {
            "type": "integer",
            "nullable": true
          },
          "completed_at": {
            "type": "integer",
            "nullable": true
          },
          "error": {
            "$ref": "#/components/schemas/StepError"
          }
        }
      },
      "LLMInfo": {
        "type": "object",
        "nullable": true,
        "description": "LLM 提供商和使用详情。",
        "properties": {
          "provider": {
            "type": "string",
            "description": "处理提供商"
          },
          "model": {
            "type": "string",
            "description": "用于提取的模型"
          },
          "usage": {
            "type": "object",
            "properties": {
              "prompt_tokens": {
                "type": "integer"
              },
              "completion_tokens": {
                "type": "integer"
              },
              "total_tokens": {
                "type": "integer"
              }
            }
          },
          "completion_time_ms": {
            "type": "integer",
            "nullable": true,
            "description": "处理时间（毫秒）"
          }
        }
      },
      "StepError": {
        "type": "object",
        "nullable": true,
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "error_code": {
            "type": "string",
            "example": "validation_error"
          },
          "error_message": {
            "type": "string"
          },
          "details": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error_code": {
            "type": "string"
          },
          "error_message": {
            "type": "string"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "description": "自定义数据的键值对。最多 50 个键，键最多 40 个字符，值最多 500 个字符。",
        "additionalProperties": {
          "type": "string",
          "maxLength": 500
        },
        "maxProperties": 50,
        "example": {
          "project_id": "12345",
          "source": "weekly-crawl"
        }
      }
    }
  }
}