{
  "openapi": "3.0.3",
  "info": {
    "title": "Builder API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://agent.olostep.com"
    },
    {
      "url": "https://dataset.olostep.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer 认证头的格式为 Bearer <token>，其中 <token> 是你的认证令牌。"
      }
    }
  },
  "paths": {
    "/olostep-p2p-incomingAPI": {
      "get": {
        "summary": "使用多种配置启动网页抓取",
        "description": "此端点允许用户通过多种选项抓取网页，例如设置超时时间、抓取前的等待时间、数据格式偏好等。",
        "servers": [
          {
            "url": "https://agent.olostep.com"
          }
        ],
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "开始抓取的URL。",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "description": "抓取过程的超时时间（秒），最大为620秒。",
            "schema": {
              "type": "integer",
              "default": 40
            }
          },
          {
            "name": "waitBeforeScraping",
            "in": "query",
            "required": false,
            "description": "开始抓取前的等待时间（秒），最多500秒。",
            "schema": {
              "type": "integer",
              "default": 3
            }
          },
          {
            "name": "saveHtml",
            "in": "query",
            "required": false,
            "description": "选项：将抓取的内容保存为HTML。",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "saveMarkdown",
            "in": "query",
            "required": false,
            "description": "选项：将抓取的内容保存为Markdown。",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "removeCSSselectors",
            "in": "query",
            "required": false,
            "description": "选项：从内容中移除某些CSS选择器。你也可以传递一个JSON字符串化的特定选择器数组来移除。设置为`default`时移除的CSS选择器为`['nav','footer','script','style','noscript','svg',[role=alert],[role=banner],[role=dialog],[role=alertdialog],[role=region][aria-label*=skip i],[aria-modal=true]]`",
            "schema": {
              "type": "string",
              "default": "default",
              "enum": [
                "default",
                "none",
                "JSON stringified array of CSS selectors"
              ]
            }
          },
          {
            "name": "htmlTransformer",
            "in": "query",
            "required": false,
            "description": "指定要使用的HTML转换器（如果有）。使用Postlight的Mercury Parser库来移除广告和其他不需要的内容。",
            "schema": {
              "type": "string",
              "default": "none",
              "enum": [
                "none",
                "postlightParser"
              ]
            }
          },
          {
            "name": "removeImages",
            "in": "query",
            "required": false,
            "description": "选项：从抓取的内容中移除图片。",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "expandMarkdown",
            "in": "query",
            "required": false,
            "description": "如果为true，Markdown内容将返回在markdown_content字段中。",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "expandHtml",
            "in": "query",
            "required": false,
            "description": "如果为true，HTML内容将返回在html_content字段中。",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "actions",
            "in": "query",
            "required": false,
            "description": "获取内容前在页面上执行的操作",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "discriminator": {
                  "propertyName": "type"
                },
                "oneOf": [
                  {
                    "type": "object",
                    "title": "等待",
                    "required": [
                      "type",
                      "milliseconds"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "wait"
                        ],
                        "description": "等待指定的毫秒数"
                      },
                      "milliseconds": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "等待时间（毫秒）"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "title": "点击",
                    "required": [
                      "type",
                      "selector"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "click"
                        ],
                        "description": "点击一个元素"
                      },
                      "selector": {
                        "type": "string",
                        "description": "要点击的元素的CSS选择器"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "title": "填写输入",
                    "required": [
                      "type",
                      "selector",
                      "value"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "fill_input"
                        ],
                        "description": "用一个值填充输入元素"
                      },
                      "selector": {
                        "type": "string",
                        "description": "输入元素的CSS选择器"
                      },
                      "value": {
                        "type": "string",
                        "description": "要输入的文本"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "title": "滚动",
                    "required": [
                      "type",
                      "direction",
                      "amount"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "scroll"
                        ],
                        "description": "滚动页面"
                      },
                      "direction": {
                        "type": "string",
                        "enum": [
                          "up",
                          "down",
                          "left",
                          "right"
                        ],
                        "description": "滚动方向"
                      },
                      "amount": {
                        "type": "number",
                        "description": "滚动的像素量"
                      }
                    }
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应请求的数据。"
          },
          "400": {
            "description": "由于参数错误或缺失导致的错误请求。"
          },
          "401": {
            "description": "由于缺少或无效的API令牌导致的未授权访问。"
          },
          "500": {
            "description": "内部服务器错误。"
          }
        }
      }
    },
    "/olostep-p2p-dataset-API": {
      "get": {
        "servers": [
          {
            "url": "https://dataset.olostep.com"
          }
        ],
        "summary": "检索数据集信息",
        "description": "允许用户根据提供的数据集ID以Markdown和/或HTML格式检索数据集信息。",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "query",
            "required": true,
            "description": "要检索的数据集的唯一标识符。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "retrieveMarkdown",
            "in": "query",
            "required": false,
            "description": "选择以Markdown格式检索数据集。",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "retrieveHtml",
            "in": "query",
            "required": false,
            "description": "选择以HTML格式检索数据集。",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "fastLane",
            "in": "query",
            "required": false,
            "description": "加速抓取过程的实验选项",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应数据集信息。"
          },
          "400": {
            "description": "由于参数错误或缺失导致的错误请求。"
          },
          "404": {
            "description": "提供的ID未找到数据集。"
          },
          "500": {
            "description": "内部服务器错误。"
          }
        }
      }
    }
  }
}