{
  "openapi": "3.0.3",
  "info": {
    "title": "爬虫 API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.olostep.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer 认证头的格式为 Bearer <token>，其中 <token> 是你的认证令牌。"
      }
    }
  },
  "paths": {
    "/v1/crawls": {
      "post": {
        "summary": "开始新的爬虫",
        "description": "使用指定的参数启动新的爬虫过程。",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "start_url": {
                    "type": "string",
                    "description": "爬虫的起始点。"
                  },
                  "include_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "使用 glob 语法在爬虫中包含的 URL 路径模式。  默认为 `/**`，包括所有 URL。使用类似 `/blog/**` 的模式来爬取特定部分（例如，仅博客页面），`/products/*.html` 用于产品页面，或为不同部分使用多个模式。支持标准 glob 特性，如 *（任意字符）和 **（递归匹配）。"
                  },
                  "exclude_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "在 glob 模式中排除的 URL 路径名称。例如：`/careers/**`。排除的 URL 将优先于包含的 URL。"
                  },
                  "max_pages": {
                    "type": "number",
                    "description": "要爬取的最大页面数。推荐用于大多数用例，如爬取整个网站。"
                  },
                  "max_depth": {
                    "type": "number",
                    "description": "爬虫的最大深度。用于仅提取最多 n 级链接。"
                  },
                  "include_external": {
                    "type": "boolean",
                    "description": "爬取一级外部链接。"
                  },
                  "include_subdomain": {
                    "type": "boolean",
                    "description": "包含网站的子域名。默认值为 `false`。"
                  },
                  "search_query": {
                    "type": "string",
                    "description": "可选的搜索查询，用于查找特定链接并按相关性排序结果。"
                  },
                  "top_n": {
                    "type": "number",
                    "description": "可选的数字，仅爬取每个页面上搜索查询中最相关的前 N 个链接。"
                  },
                  "webhook": {
                    "type": "string",
                    "format": "uri",
                    "description": "爬虫完成时接收 POST 请求的 HTTPS URL。必须是使用 `http://` 或 `https://` 协议的公开可访问 URL。不能指向 localhost 或私有 IP 地址。查看 [Webhooks](/api-reference/common/webhooks) 了解负载格式和重试行为。"
                  },
                  "timeout": {
                    "type": "number",
                    "description": "在 n 秒后结束爬虫，并完成到那时为止的页面。可能会比提供的超时时间多花费约 10 秒。"
                  },
                  "follow_robots_txt": {
                    "type": "boolean",
                    "description": "是否遵循 robots.txt 规则。如果设置为 `false`，爬虫将不顾 robots.txt 的禁止指令抓取网站。默认值为 `true`。",
                    "default": true
                  },
                  "scrape_options": {
                    "type": "object",
                    "description": "控制每个单独页面从 Olostep API 请求的内容。所有字段都是可选的。",
                    "properties": {
                      "formats": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "html",
                            "markdown",
                            "text",
                            "json",
                            "screenshot"
                          ]
                        },
                        "description": "请求每个抓取页面的输出格式。省略时默认为 `[\"html\", \"markdown\"]`。`html` 总是自动包含。当提供 `parser` 时，`json` 会自动添加。注意：`raw_pdf` 不支持 — PDF 无法被爬取。",
                        "example": [
                          "markdown",
                          "screenshot"
                        ]
                      },
                      "parser": {
                        "type": "string",
                        "description": "在每个页面上运行的解析器名称，并生成结构化的 `json` 输出（例如 `\"@olostep/extract-emails\"`）。设置时自动将 `json` 添加到 `formats`。",
                        "example": "@olostep/extract-emails"
                      }
                    }
                  }
                },
                "required": [
                  "start_url",
                  "max_pages"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "爬虫启动成功。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "爬虫 ID"
                    },
                    "object": {
                      "type": "string",
                      "description": "The kind of object. \"crawl\" for this endpoint."
                    },
                    "status": {
                      "type": "string",
                      "description": "`in_progress` 或 `completed`"
                    },
                    "created": {
                      "type": "number",
                      "description": "Created time in epoch"
                    },
                    "start_date": {
                      "type": "string",
                      "description": "Created time in date"
                    },
                    "start_url": {
                      "type": "string"
                    },
                    "max_pages": {
                      "type": "number"
                    },
                    "max_depth": {
                      "type": "number"
                    },
                    "exclude_urls": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "include_urls": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "include_external": {
                      "type": "boolean"
                    },
                    "search_query": {
                      "type": "string"
                    },
                    "top_n": {
                      "type": "number"
                    },
                    "current_depth": {
                      "type": "number",
                      "description": "The current depth of the crawl process."
                    },
                    "pages_count": {
                      "type": "number",
                      "description": "Count of pages crawled"
                    },
                    "webhook": {
                      "type": "string"
                    },
                    "follow_robots_txt": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to incorrect or missing parameters."
          },
          "500": {
            "description": "内部服务器错误。"
          }
        }
      }
    },
    "/v1/crawls/{crawl_id}": {
      "get": {
        "summary": "Retrieve crawl information",
        "description": "Fetches information about a specific crawl using its `crawl_id`.",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "crawl_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the crawl to retrieve information for."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with crawl information.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "爬虫 ID"
                    },
                    "object": {
                      "type": "string",
                      "description": "The kind of object. \"crawl\" for this endpoint."
                    },
                    "status": {
                      "type": "string",
                      "description": "`in_progress` 或 `completed`"
                    },
                    "created": {
                      "type": "number",
                      "description": "Created time in epoch"
                    },
                    "start_date": {
                      "type": "string",
                      "description": "Created time in date"
                    },
                    "start_url": {
                      "type": "string"
                    },
                    "max_pages": {
                      "type": "number"
                    },
                    "max_depth": {
                      "type": "number"
                    },
                    "exclude_urls": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "include_urls": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "include_external": {
                      "type": "boolean"
                    },
                    "search_query": {
                      "type": "string"
                    },
                    "top_n": {
                      "type": "number"
                    },
                    "current_depth": {
                      "type": "number",
                      "description": "The current depth of the crawl process."
                    },
                    "pages_count": {
                      "type": "number",
                      "description": "Count of pages crawled"
                    },
                    "webhook": {
                      "type": "string"
                    },
                    "follow_robots_txt": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to incorrect or missing parameters."
          },
          "404": {
            "description": "Crawl not found for the provided ID."
          },
          "500": {
            "description": "内部服务器错误。"
          }
        }
      }
    },
    "/v1/crawls/{crawl_id}/pages": {
      "get": {
        "summary": "Retrieve list of crawled pages optionally with content",
        "description": "Fetches the list of crawled pages and content that have been processed for a specific crawl ID.",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "crawl_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the crawl to retrieve the list of URLs for."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Optional integer representing the index to start fetching content from. Useful to paginate until all URLs are fetched. Start with 0, then provide `response['cursor']` value of the last request."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Optional integer to limit the number of results returned. Recommended 10-50 results at a time. Paginated using *cursor*. Maximum 10MB of content can be fetched in a single request."
          },
          {
            "name": "search_query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "An optional search query to sort the results by relevance. Uses the original search_query by default if provided."
          },
          {
            "name": "formats",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "html",
                  "markdown"
                ]
              }
            },
            "description": "**Deprecated:** Use `/retrieve` endpoint with `retrieve_id`.\n\nArray of formats to fetch (e.g., [\"html\", \"markdown\"])."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with the list of URLs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "crawl_id": {
                      "type": "string",
                      "description": "爬虫 ID"
                    },
                    "object": {
                      "type": "string",
                      "description": "The kind of object. \"crawl\" for this endpoint."
                    },
                    "status": {
                      "type": "string",
                      "description": "`in_progress` 或 `completed`"
                    },
                    "search_query": {
                      "type": "string"
                    },
                    "pages_count": {
                      "type": "number"
                    },
                    "pages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "retrieve_id": {
                            "type": "string",
                            "description": "To fetch content from the `/retrieve` endpoint"
                          },
                          "url": {
                            "type": "string"
                          },
                          "is_external": {
                            "type": "boolean"
                          },
                          "html_content": {
                            "type": "string",
                            "description": "已弃用：使用 `/retrieve` 端点和 `retrieve_id`。"
                          },
                          "markdown_content": {
                            "type": "string",
                            "description": "已弃用：使用 `/retrieve` 端点和 `retrieve_id`。"
                          }
                        }
                      }
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "external_urls": {
                          "type": "array",
                          "description": "在爬取过程中发现的外部 URL",
                          "items": {
                            "type": "string"
                          }
                        },
                        "failed_urls": {
                          "type": "array",
                          "description": "找到但无法抓取的 URL",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "cursor": {
                      "type": "integer",
                      "description": "在下一个请求的查询中传递，以获取下一个项目。"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to incorrect or missing parameters."
          },
          "404": {
            "description": "Crawl not found for the provided ID."
          },
          "500": {
            "description": "内部服务器错误。"
          }
        }
      }
    }
  }
}