{
  "openapi": "3.0.3",
  "info": {
    "title": "调度 API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.olostep.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer 认证头的格式为 Bearer <token>，其中 <token> 是你的认证令牌。"
      }
    }
  },
  "paths": {
    "/v1/schedules": {
      "post": {
        "summary": "创建调度",
        "description": "创建一个新的调度以在指定时间执行 API 调用。支持一次性执行和使用 cron 表达式的重复调度。你也可以使用自然语言文本自动生成 cron 表达式。对于 POST 请求，你可以使用简短的 Olostep 端点（例如，'v1/scrapes'），这些将被自动添加前缀，或者提供完整的 URL。有效负载可以包含你想发送的任何 JSON 结构。",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "method": {
                    "type": "string",
                    "enum": [
                      "GET",
                      "POST"
                    ],
                    "description": "调度 API 调用的 HTTP 方法。必须是 GET 或 POST。"
                  },
                  "endpoint": {
                    "type": "string",
                    "description": "调度执行时要调用的端点 URL。对于带有 Olostep 端点的 POST 请求，你可以使用简短形式（例如，'v1/scrapes', 'v1/batches', 'v1/crawls', 'v1/maps', 'v1/answers'），这些将被自动添加前缀 'https://api.olostep.com/'。对于其他端点，请提供完整的 URL。"
                  },
                  "payload": {
                    "type": "object",
                    "description": "随 API 调用发送的有效负载。可以包含你需要的任何 JSON 结构。对于 GET 请求，这通常是空的。对于 POST 请求，这应该包含你想发送到端点的数据。",
                    "default": {}
                  },
                  "cron_expression": {
                    "type": "string",
                    "description": "用于重复调度的 6 个字段格式的 cron 表达式（分钟 小时 天 月 星期几 年）。重复调度必需。与 execute_at 和 text 互斥。"
                  },
                  "execute_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "用于一次性调度执行的 ISO 8601 日期时间字符串。必须是有效的未来日期时间。一次性调度必需。与 cron_expression 互斥。"
                  },
                  "expression_timezone": {
                    "type": "string",
                    "description": "调度的 IANA 时区标识符（例如，'UTC', 'America/New_York', 'Europe/London'）。重复调度必需，一次性调度可选。使用自然语言文本时，默认值为 'UTC'。"
                  },
                  "text": {
                    "type": "string",
                    "description": "自动生成 cron 表达式的自然语言文本。系统将把你的文本转换为有效的 cron 表达式。示例：'every 3 minutes', 'every day at 10am', 'every Monday at 9am'。与 cron_expression 和 execute_at 互斥。使用时，expression_timezone 默认值为 'UTC'。"
                  }
                },
                "required": [
                  "method",
                  "endpoint"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "调度创建成功。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "唯一的调度标识符"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "recurring",
                        "onetime"
                      ],
                      "description": "调度类型：'recurring' 表示基于 cron 的调度，'onetime' 表示单次执行调度"
                    },
                    "method": {
                      "type": "string",
                      "enum": [
                        "GET",
                        "POST"
                      ],
                      "description": "调度调用的 HTTP 方法"
                    },
                    "endpoint": {
                      "type": "string",
                      "description": "将被调用的端点 URL"
                    },
                    "cron_expression": {
                      "type": "string",
                      "description": "Cron 表达式（仅在重复调度中存在）"
                    },
                    "execute_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "执行日期时间（仅在一次性调度中存在）"
                    },
                    "expression_timezone": {
                      "type": "string",
                      "description": "调度的时区"
                    },
                    "created": {
                      "type": "string",
                      "format": "date-time",
                      "description": "调度创建时的 ISO 8601 日期时间"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "由于参数不正确或缺失导致的错误请求。常见错误：无效的方法、缺少端点、无效的 cron_expression、无效的 execute_at 日期时间、无效的时区或无效的 schedule_id 格式。"
          },
          "401": {
            "description": "API 密钥无效。请尝试仔细检查或在遇到问题时联系 info@olostep.com。"
          },
          "500": {
            "description": "创建计划时发生内部服务器错误。"
          }
        }
      },
      "get": {
        "summary": "列出计划",
        "description": "检索团队的所有计划。返回包含其配置、状态和元数据的计划列表。默认情况下，已删除的计划会被过滤掉。",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "include_deleted",
            "in": "query",
            "required": false,
            "description": "设置为 'true' 以在响应中包含已删除的计划。默认情况下，已删除的计划会被过滤掉。",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "default": "false"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应包含计划列表。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "schedules": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "team_id": {
                            "type": "string",
                            "description": "团队标识符"
                          },
                          "schedule_id": {
                            "type": "string",
                            "description": "唯一的调度标识符"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "recurring",
                              "onetime"
                            ],
                            "description": "计划类型"
                          },
                          "endpoint": {
                            "type": "string",
                            "description": "端点 URL"
                          },
                          "payload": {
                            "type": "object",
                            "description": "随 API 调用发送的有效负载"
                          },
                          "cron_expression": {
                            "type": "string",
                            "description": "Cron 表达式（仅在重复调度中存在）"
                          },
                          "execute_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "执行日期时间（仅在一次性调度中存在）"
                          },
                          "expression_timezone": {
                            "type": "string",
                            "description": "调度的时区"
                          },
                          "text": {
                            "type": "string",
                            "description": "用于生成 cron 表达式的自然语言文本"
                          },
                          "schedule_name": {
                            "type": "string",
                            "description": "EventBridge 中的内部计划名称"
                          },
                          "schedule_group": {
                            "type": "string",
                            "description": "计划组名称"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "调度创建时的 ISO 8601 日期时间"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "计划最后更新的 ISO 8601 日期时间"
                          },
                          "state": {
                            "type": "string",
                            "enum": [
                              "ENABLED",
                              "DELETED"
                            ],
                            "description": "计划的当前状态"
                          },
                          "method": {
                            "type": "string",
                            "enum": [
                              "GET",
                              "POST"
                            ],
                            "description": "调度调用的 HTTP 方法"
                          }
                        }
                      },
                      "description": "计划对象数组"
                    },
                    "count": {
                      "type": "integer",
                      "description": "计划总数"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "API 密钥无效。"
          },
          "500": {
            "description": "获取计划时发生内部服务器错误。"
          }
        }
      }
    },
    "/v1/schedules/{schedule_id}": {
      "get": {
        "summary": "获取计划",
        "description": "根据其ID检索单个计划。",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "schedule_id",
            "in": "path",
            "required": true,
            "description": "计划的唯一标识符。必须以'schedule_'开头。",
            "schema": {
              "type": "string",
              "pattern": "^schedule_"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "计划检索成功。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "schedule": {
                      "type": "object",
                      "properties": {
                        "team_id": {
                          "type": "string",
                          "description": "团队标识符"
                        },
                        "schedule_id": {
                          "type": "string",
                          "description": "唯一的调度标识符"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "recurring",
                            "onetime"
                          ],
                          "description": "计划类型"
                        },
                        "method": {
                          "type": "string",
                          "enum": [
                            "GET",
                            "POST"
                          ],
                          "description": "调度调用的 HTTP 方法"
                        },
                        "endpoint": {
                          "type": "string",
                          "description": "端点 URL"
                        },
                        "payload": {
                          "type": "object",
                          "description": "随 API 调用发送的有效负载"
                        },
                        "cron_expression": {
                          "type": "string",
                          "description": "Cron 表达式（仅在重复调度中存在）"
                        },
                        "execute_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "执行日期时间（仅在一次性调度中存在）"
                        },
                        "expression_timezone": {
                          "type": "string",
                          "description": "调度的时区"
                        },
                        "text": {
                          "type": "string",
                          "description": "用于生成 cron 表达式的自然语言文本"
                        },
                        "schedule_name": {
                          "type": "string",
                          "description": "EventBridge 中的内部计划名称"
                        },
                        "schedule_group": {
                          "type": "string",
                          "description": "计划组名称"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "调度创建时的 ISO 8601 日期时间"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "计划最后更新的 ISO 8601 日期时间"
                        },
                        "state": {
                          "type": "string",
                          "enum": [
                            "ENABLED",
                            "DELETED"
                          ],
                          "description": "计划的当前状态"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "由于无效的schedule_id格式导致的错误请求。计划ID必须以'schedule_'开头。"
          },
          "401": {
            "description": "API 密钥无效。"
          },
          "404": {
            "description": "提供的ID未找到计划。"
          },
          "500": {
            "description": "获取计划时发生内部服务器错误。"
          }
        }
      },
      "delete": {
        "summary": "删除计划",
        "description": "根据其ID删除计划。这将停止任何未来的执行并从EventBridge中移除该计划。",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "schedule_id",
            "in": "path",
            "required": true,
            "description": "要删除的计划的唯一标识符。必须以'schedule_'开头。",
            "schema": {
              "type": "string",
              "pattern": "^schedule_"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "计划删除成功。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "成功消息"
                    },
                    "schedule_id": {
                      "type": "string",
                      "description": "已删除计划的ID"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "由于无效的schedule_id格式或计划已被删除导致的错误请求。计划ID必须以'schedule_'开头。"
          },
          "401": {
            "description": "API 密钥无效。"
          },
          "404": {
            "description": "提供的ID未找到计划。"
          },
          "500": {
            "description": "删除计划时发生内部服务器错误。"
          }
        }
      }
    }
  }
}