{
  "openapi": "3.0.3",
  "info": {
    "title": "Scrapes API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.olostep.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer 认证头的格式为 Bearer <token>，其中 <token> 是你的认证令牌。"
      }
    }
  },
  "paths": {
    "/v1/scrapes": {
      "post": {
        "summary": "启动网页抓取",
        "description": "这个端点允许用户以各种配置启动网页抓取。",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url_to_scrape": {
                    "type": "string",
                    "format": "uri",
                    "description": "开始抓取的URL。"
                  },
                  "wait_before_scraping": {
                    "type": "integer",
                    "description": "在开始抓取前等待的时间，以毫秒为单位。"
                  },
                  "formats": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "html",
                        "markdown",
                        "text",
                        "json",
                        "raw_pdf",
                        "screenshot"
                      ]
                    },
                    "description": "你想要内容的格式。"
                  },
                  "remove_css_selectors": {
                    "type": "string",
                    "enum": [
                      "default",
                      "none",
                      "array"
                    ],
                    "description": "选项：从内容中移除某些CSS选择器。你也可以传递一个JSON字符串化的特定选择器数组来移除。当此选项设置为默认时，移除的CSS选择器为 ['nav','footer','script','style','noscript','svg',[role=alert],[role=banner],[role=dialog],[role=alertdialog],[role=region][aria-label*=skip i],[aria-modal=true]]"
                  },
                  "actions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "discriminator": {
                        "propertyName": "type"
                      },
                      "oneOf": [
                        {
                          "type": "object",
                          "title": "等待",
                          "required": [
                            "type",
                            "milliseconds"
                          ],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "wait"
                              ],
                              "description": "等待指定的毫秒数"
                            },
                            "milliseconds": {
                              "type": "integer",
                              "minimum": 0,
                              "description": "等待时间（毫秒）"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "title": "点击",
                          "required": [
                            "type",
                            "selector"
                          ],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "click"
                              ],
                              "description": "点击一个元素"
                            },
                            "selector": {
                              "type": "string",
                              "description": "要点击的元素的CSS选择器"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "title": "填写输入",
                          "required": [
                            "type",
                            "selector",
                            "value"
                          ],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "fill_input"
                              ],
                              "description": "用一个值填充输入元素"
                            },
                            "selector": {
                              "type": "string",
                              "description": "输入元素的CSS选择器"
                            },
                            "value": {
                              "type": "string",
                              "description": "要输入的文本"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "title": "滚动",
                          "required": [
                            "type",
                            "direction",
                            "amount"
                          ],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "scroll"
                              ],
                              "description": "滚动页面"
                            },
                            "direction": {
                              "type": "string",
                              "enum": [
                                "up",
                                "down",
                                "left",
                                "right"
                              ],
                              "description": "滚动方向"
                            },
                            "amount": {
                              "type": "number",
                              "description": "滚动的像素量"
                            }
                          }
                        }
                      ]
                    },
                    "description": "在获取内容之前对页面执行的操作。"
                  },
                  "country": {
                    "type": "string",
                    "description": "加载请求的住宅国家。  支持的值有： - US (United States) - CA (Canada) - IT (Italy) - IN (India) - GB (England) - JP (Japan) - MX (Mexico) - AU (Australia) - ID (Indonesia) - UA (UAE) - RU (Russia) - RANDOM  一些操作，如抓取Google搜索和Google新闻，支持所有国家。"
                  },
                  "transformer": {
                    "type": "string",
                    "enum": [
                      "postlight",
                      "none"
                    ],
                    "description": "指定要使用的HTML转换器（如果有）。使用Postlight的Mercury Parser库来移除广告和其他不需要的内容。"
                  },
                  "remove_images": {
                    "type": "boolean",
                    "description": "选项：从抓取的内容中移除图像。默认为false。",
                    "default": false
                  },
                  "remove_class_names": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "要从内容中移除的类名列表。"
                  },
                  "parser": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "要使用的解析器ID。"
                      }
                    },
                    "required": [
                      "id"
                    ],
                    "description": "当定义json作为格式时，你可以使用此参数指定要使用的解析器。解析器对于从网页中提取结构化内容非常有用。Olostep为大多数常见网页内置了一些解析器，你也可以创建自己的解析器。"
                  },
                  "llm_extract": {
                    "type": "object",
                    "properties": {
                      "schema": {
                        "type": "object",
                        "description": "LLM提取的模式。"
                      }
                    }
                  },
                  "links_on_page": {
                    "type": "object",
                    "properties": {
                      "absolute_links": {
                        "type": "boolean",
                        "default": true,
                        "description": "当为 true 时，它返回完整的 URL（例如，'https://example.com/page'），而不是相对路径（例如，'/page'）。"
                      },
                      "query_to_order_links_by": {
                        "type": "string",
                        "description": "按与提供的查询文本的相似性对返回的链接进行排序，优先显示最相关的匹配项。"
                      },
                      "include_links": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "使用`include_links`通过glob模式过滤提取的链接。使用类似\"*.pdf\"的模式匹配文件扩展名，\"/blog/*\"匹配特定路径，或完整URL如\"https://example.com/*\"。支持通配符 (*)、字符类 ([a-z]) 和交替 ({pattern1,pattern2})。"
                      },
                      "exclude_links": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "使用`exclude_links`通过glob模式过滤提取的链接。使用类似\"*.pdf\"的模式匹配文件扩展名，\"/blog/*\"匹配特定路径，或完整URL如\"https://example.com/*\"。支持通配符 (*)、字符类 ([a-z]) 和交替 ({pattern1,pattern2})。"
                      }
                    },
                    "description": "使用此选项，你可以获取你抓取的页面上存在的所有链接。"
                  },
                  "screen_size": {
                    "type": "object",
                    "properties": {
                      "screen_type": {
                        "type": "string",
                        "enum": [
                          "default",
                          "mobile",
                          "desktop"
                        ],
                        "description": "屏幕类型。桌面使用1920x1080像素，移动设备使用414x896像素，默认使用1024x768像素。"
                      },
                      "screen_width": {
                        "type": "integer",
                        "description": "屏幕的宽度，以像素为单位。桌面：1920px，移动设备：414px，默认：768px。"
                      },
                      "screen_height": {
                        "type": "integer",
                        "description": "屏幕的高度，以像素为单位。桌面：1080px，移动设备：896px，默认：1024px。"
                      }
                    },
                    "description": "屏幕尺寸配置。可以通过 screen_type 获取预设尺寸：desktop (1920x1080)、mobile (414x896) 或 default (768x1024)。"
                  },
                  "screenshot": {
                    "type": "object",
                    "properties": {
                      "full_page": {
                        "type": "boolean",
                        "description": "如果传递 true，整个页面的截图将在滚动到网站底部后拍摄。"
                      }
                    }
                  },
                  "metadata": {
                    "type": "object",
                    "description": "用户定义的元数据。目前尚不支持。"
                  }
                },
                "required": [
                  "url_to_scrape"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功响应包含抓取启动的详细信息。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "抓取 ID"
                    },
                    "object": {
                      "type": "string",
                      "description": "对象类型。此端点为 \"scrape\"。"
                    },
                    "created": {
                      "type": "number",
                      "description": "创建的纪元时间"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "用户定义的元数据。"
                    },
                    "url_to_scrape": {
                      "type": "string",
                      "description": "被抓取的 URL。"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "html_content": {
                          "type": "string"
                        },
                        "markdown_content": {
                          "type": "string"
                        },
                        "text_content": {
                          "type": "string"
                        },
                        "json_content": {
                          "type": "string",
                          "description": "来自解析器的内容。"
                        },
                        "screenshot_hosted_url": {
                          "type": "string"
                        },
                        "html_hosted_url": {
                          "type": "string"
                        },
                        "markdown_hosted_url": {
                          "type": "string"
                        },
                        "text_hosted_url": {
                          "type": "string"
                        },
                        "links_on_page": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "page_metadata": {
                          "type": "object",
                          "properties": {
                            "status_code": {
                              "type": "integer"
                            },
                            "title": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to incorrect or missing parameters."
          },
          "402": {
            "description": "由于无效的 API 密钥，需要付款。"
          },
          "404": {
            "description": "当请求的抓取未找到时，出现未找到错误。"
          },
          "500": {
            "description": "内部服务器错误。"
          }
        }
      }
    },
    "/v1/scrapes/{scrape_id}": {
      "get": {
        "summary": "获取抓取结果",
        "description": "此端点允许用户获取先前启动的抓取结果。",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "scrape_id",
            "in": "path",
            "required": true,
            "description": "要获取的抓取的唯一标识符。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应包含抓取结果。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "抓取 ID"
                    },
                    "object": {
                      "type": "string",
                      "description": "对象类型。此端点为 \"scrape\"。"
                    },
                    "created": {
                      "type": "number",
                      "description": "创建的纪元时间"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "用户定义的元数据。"
                    },
                    "url_to_scrape": {
                      "type": "string",
                      "description": "被抓取的 URL。"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "html_content": {
                          "type": "string"
                        },
                        "markdown_content": {
                          "type": "string"
                        },
                        "json_content": {
                          "type": "string",
                          "description": "来自解析器的内容。"
                        },
                        "screenshot_hosted_url": {
                          "type": "string"
                        },
                        "html_hosted_url": {
                          "type": "string"
                        },
                        "markdown_hosted_url": {
                          "type": "string"
                        },
                        "links_on_page": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "page_metadata": {
                          "type": "object",
                          "properties": {
                            "status_code": {
                              "type": "integer"
                            },
                            "title": {
                              "type": "string"
                            }
                          }
                        },
                        "size_exceeded": {
                          "type": "boolean",
                          "description": "如果内容大小超过限制。如果是，请使用托管的 S3 urls 获取内容。"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to incorrect or missing parameters."
          },
          "402": {
            "description": "由于无效的 API 密钥，需要付款。"
          },
          "404": {
            "description": "当请求的抓取未找到时，出现未找到错误。"
          },
          "500": {
            "description": "内部服务器错误。"
          }
        }
      }
    }
  }
}